<div class="sidebar-nav">
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Admin Menu</li>
      <li><%= link_to patron_path(current_patron) do %><i class="icon-home"></i> Firma Bilgileri<% end %></li>
      <li><%= link_to users_path do %><i class="icon-user"></i> Kullanıcılar<% end %></li>
      <li><%= link_to branches_path do %><i class="icon-comment"></i> Şubeler<% end %></li>
      <!--li><%#= link_to counters_path do %><i class="icon-user"></i> Sayaçlar<%# end %></li-->
      <li class="divider"></li>
      <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
      <li><a href="#"><i class="icon-user"></i> Profil</a></li>
    </ul>
  </div>
</div>