<div id="transnode-home" class="publishercontainer">
  <div class="post-module-in">
    <%= render 'transports/form', :object => object %>
  </div>
</div>
<%= render 'transports/transports', :object => object %>
