<div id="transport-header" class="profile-content">
  <table class="outer" width="100%" id="headerTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="span1">
        <div id="transport-picture" class="position">
          <%= image_tag("#{@transport.trans_method}.png") %>
        </div>
      </td>
      <td style="vertical-align:top">
        <%= render "profile_detail", transport: @transport %>
      </td>
    </tr>
  </table>
</div>
