.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
config/database.yml
config/database.example.yml
public/assets
public/uploads
uploads/
config/database.yml
config/database.example.yml
app/assets/javascripts/basecamp.js
Gemfile
Gemfile.lock