<div id="opsteps" class="row">
  <ul id="opform-step-bar" class="stepbar">
    <li class="step-1<%= (step == 1 ? ' selected' : '')%>"><strong>1-Pozisyon Bilgisi</strong></li>
    <li class="step-2<%= (step == 2 ? ' selected' : '')%>"><strong>2-Aktarma Bilgileri</strong></li>
    <li class="step-3<%= (step == 3 ? ' selected' : '')%>"><strong>3-Yük Bilgisi</strong></li>
    <li class="step-4<%= (step == 4 ? ' selected' : '')%>"><strong>4-Yük Detayları</strong></li>
  </ul>
</div>

