<div id="feedlist">
  <div class="todoListHeader">User Notes</div>
    <ul>
      <li>
        <div class="feedline">
          <a href="#" class="img-load"><%= image_tag "T.png" %></a> 
          <h5>
       <a href="#">Faruk Çelik created this</a>
          </h5>
          <p style="text-align:right;"><a class="source" href="#">John Doe</a> on April 10, 2010</p>
        </div>
      </li>
    </ul>
  </div>
</div>
