<div class="box">
  <div class="boxes">
    <div class="btn-group">
      <a class="btn btn-success" href="#" data-toggle="dropdown"><i class="icon-plus-sign icon-white"></i>Pozisyona Yük Ekle</a> 
      <a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown">
        <span class="caret" />
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Yeni Yük Oluştur", new_loading_path(:position_id => @position.id) %></li>
        <li><%= link_to "Rezervasyon Bağla", loadings_path(:direction => @position.direction, :nolayout => 1), "data-toggle" => "modal", "data-target" => "#loadModalList" %></li>
      </ul>
    </div>
    <div class="todoListHeader">Pozisyona Bağlı Yükler</div>
    <div class="todoListContents">
      <ol class="listClass">
        <% for load in @position.loadings %>
        <li class="incompleteClass">
          <%= link_to load.reference.upcase, loading_path(load) %>
        </li>
        <% end %>

      </ol>
    </div>
  </div>
</div>

