<div id="position_list">
  <table class="bordered-table">
    <tr>
      <th>Referans</th>
      <th>Direction</th>
      <th>Nakliyeci</th>
      <th>Agent</th>
      <th>Çıkış Yeri</th>
      <th>Çıkış Tarihi</th>
      <th>Varış Yeri</th>
      <th>Varış Tarihi</th>
      <th>Sefer No</th>
      <th>Uçak</th>
    </tr>

    <%= render positions %>
  </table>
</div>
