<div id="position_list">
  <table class="bordered-table">
    <tr>
      <th class="span2">Referans</th>
      <th class="span1">Direction</th>
      <th class="span3">Nakliyeci</th>
      <th class="span3">Agent</th>
      <th class="span3">Çıkış Yeri</th>
      <th class="span2">Çıkış Tarihi</th>
      <th class="span3">Varış Yeri</th>
      <th class="span2">Varış Tarihi</th>
      <th class="span2">Sefer No</th>
      <th class="span2">Uçak</th>
    </tr>

    <%= render positions %>
  </table>
</div>
