<div class="row-fluid">
  <div class="span1">
    <%= image_tag("/assets/position.png") %>
  </div>
  <div class="span9">
    <div class="row-fluid">
      <%= render 'positions/tab_header', position: position %>
    </div>
  </div>
</div>