<div id="position_list">
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th class="span2">Referans</th>
      <th class="span1">Direction</th>
      <th class="span2">Konşimento</th>
      <th class="span3">Çıkış Yeri</th>
      <th class="span2">Çıkış Tarihi</th>
      <th class="span3">Varış Yeri</th>
      <th class="span2">Varış Tarihi</th>
      <th class="span2">Şube</th>
      <th class="span2">Tipi</th>
      <th class="span3">Acenta</th>
    </tr>

    <%= render positions %>
  </table>
</div>
