<div id="profile-header" class="profile-content">
  <table class="outer" width="100%" id="headerTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="span2">
        <div id="profile-picture" class="position">
          <%= image_tag("/assets/position.png") %>
        </div>
      </td>
      <td style="vertical-align:top">
        <div id="profile-detail" class="position">
          <%= render 'positions/profile_detail', position: position %>
        </div>
      </td>
    </tr>
  </table>
</div>
