<div id="position_headline">
  <dl class="yatay-info" id="headline">
    <dd><strong><%= position_name(position) %></strong></dd>
    <dd><%= branch_name(position.branch) %></dd>
    <dd class="pull-right">Kayıt Sahibi:<%= user_name(position.user) %></dd>
    <dd class="pull-right">Kayıt Zamanı:<%= created_time(position.created_at) %></dd>
  </dl>
</div>
