<div id="position_detail" class="tab-pane profile-content">
  <div id="position_left">
    <%= render 'tab_header', :position => position %>
    <div id="position_positions" class="dlist">
      <dl>
        <dt>Araç-Sefer</dt>
        <dd><%#= position.vessel %>&nbsp;<%#= position.voyage %>&nbsp;<%#= position.driver %></dd>
        <dt>2.Araç Bilgisi</dt>
        <dd><%#= position.vessel2 %>&nbsp;<%#= position.voyage2 %>&nbsp;<%#= position.driver2 %></dd>
        <dt>Ordino Tarihi</dt>
        <dd><%#= position.ordino_date %>&nbsp;</dd>
        <dt>SOB Tarihi</dt>
        <dd><%#= position.sob_date %>&nbsp;</dd>
        <dt>Agent Referans</dt>
        <dd><%= position.ref_no1 %>&nbsp;</dd>
        <dt>Transporter Reference</dt>
        <dd><%= position.ref_no2 %></dd>
        <dt>Konşimento</dt>
        <dd><%= position.ref_no3 %>&nbsp;</dd>
      </dl>
    </div>
  </div>
</div>

