<div id="position_profile" class="tab-pane profile-content active">
  <div id="position_left">
    <%= render 'tab_header', :position => position %>
    <div id="position_transnodes">
      <%= render @position.transnodes %>
    </div>
  </div>
</div>

