<div class="box">
  <div class="todoList">
    <div class="todoListHeader">Bunları yapabilirsiniz</div>
    <div class="todoListContents">
      <ol class="listClass">
        <li class="incompleteClass">
          <a href="#">Navlun Fiyatı Belirlenmeli</a>
        </li>
        <li class="incompleteClass">
          <a href="#">Dosya Kapama Kontrolleri</a>
        </li>
        <li class="incompleteClass">
          <a href="#">Sefer Programı Takibi</a>
        </li>
      </ol>
    </div>
  </div>
</div>
