<div id="positions_index_page" class="row-fluid">

  <%= page_header_helper(t("positions.defaults.page_header"), new_position_path, t("positions.defaults.new_record_label")) %>
  <%= page_intro_helper(t("positions.defaults.intro_message")) %>

  <%= sub_header_with_search_form(t("positions.defaults.last_records_title"), "positions") %>

  <%= render "positions/list", positions: @positions, is_paginated: false %>

</div>
<script type="text/javascript">
  document.getElementById('positionnavigator').classList.add('active');
</script>