<% javascript "templates/loadings/reservations.jst.eco" %>

<div id="position">
  <div class="row-fluid">
    <%= render 'profile_header' %>
  </div>
  <div class="row-fluid">
    <div class="page-header">
      <h4>
      	Projeye Eklenecek Reservasyonları Seçiniz
      	<small class="pull-right">
          <%= link_to t("operations.link.list_reservation"), "#", id: "list_reservations", class: "btn btn-small btn-info", "data-posref" => @position.slug %>
      	</small>
      </h4>
			<div id="project-reservation-list" class="row-fluid">

			</div>
    </div>
  </div>
</div>