<%= content_for(:sidebar, render(:partial => 'operations/sidebar', :locals => {:operation => @position.operation} )) %>

<div id="position" class="row">
  <div class="row">
    <%= render 'profile_header' %>
  </div>
  <div class="row">
    <%= render 'profile_content' %>
  </div>
</div>
