<div id="betauser_form">
<%= form_for Betauser.new, remote: true, html: { class: "form-inline" }  do |f| %>
  <%#= f.error_notification %>

  <fieldset>
      <%= f.label :email, "SocialFreight'覺n ilk kullan覺c覺lar覺ndan olmak ister misiniz?", :style => "color: #686868;font-weight:bold;font-size: 18px;line-height: 27px;margin-right:15px;" %>
      <%= f.text_field :email, :placeholder => "Mail Adresiniz", :label => false %>
      <%= f.submit "Sizi Bilgilendirelim", :class => 'btn btn-primary' %>
  </fieldset>

<% end %>
</div>
