<div class="row-fluid">
  <table class="table table-condensed">
    <tr>
     <th>Mail Adresi</th>
     <th>Tarihi</th>
     <th>IP Adresi</th>
     <th>Muhtemel Ülkesi</th>
    </tr>
    <%= render @betausers %>
  </table>
</div>