<div class="row-fluid">
  <h4>Silinmiş Kayıtlar</h4>
  <table class="table table-condensed">
    <tr>
      <td></td>
      <td>Silinme Zamanı</td>
      <td>Referans</td>
      <td>Kullanıcı</td>
      <td>Açıklama</td>
      <td></td>
    </tr>
    <%= render @junks %>
  </table>
  <%#= paginate @junks %>
</div>