<div id="post-home" class="publishercontainer">
  <div class="post-module-in">
    <%= render 'comments/form', :object => object %>
  </div>
</div>
<%= render 'comments/comments', :object => object %>
