<li>
  <div class="feedline">
    <a href="#" class="img-load"><%= image_tag "T.png" %></a> 
    <p>
      <%= comment.comment_text %>
    </p>
    <span class="rightside"><%= link_to "#{comment.user_name} on #{comment.created_at.strftime("%d/%m/%Y %I:%M%p")}", "#" %></span>
  </div>
</li>
