<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <p class="pull-right"><a href="#">see all</a></p>
      <h4>Ekip <!--small>(10)</small--></h4>
    </div>
  	<div>
      <% current_patron.users.each do |user| %>
        <%= link_to (image_tag user.avatar_url(:small), class: "img-circle"), user_path(user), title: user_name(user) %></a>
      <% end %>
  	</div>
  </div>
</div>