<div id="people_index_page" class="row-fluid">

  <%= page_header_helper(t("people.defaults.page_header"), new_person_path, t("people.defaults.new_record_label")) %>
  <%= page_intro_helper(t("people.defaults.intro_message")) %>

  <%= sub_header_with_search_form(t("people.defaults.last_records_title"), "people") %>

  <%= render "people/list", objects: @people, is_paginated: false %>

</div>
<script type="text/javascript">
  document.getElementById('peoplenavigator').classList.add('active');
</script>