<div id="task_form" class="row-fluid">

  <%= form_for [todolist, task], html: { class: "form-search" }, remote: true do |f| %>
    <%#= f.error_notification %>
    <%= render 'tasks/form_main', :f => f %>
    <div class="form-actions">
		  <%= f.submit t("defaults.action.save"), class: 'btn btn-info' %>
			<%= link_to "Nevermind", todolist_task_path(todolist, task), remote: true unless task.id.nil? %>
		</div>
  <% end %>

</div>