<li id="task_<%= task.id %>">
  <%#= link_to (image_tag user_small_avatar(task.cruser), class: "media-object img-circle"), user_path(task.cruser), class: "pull-left" %>
  <% unless task.user_id == current_user.id %>
      <h6 class="media-heading">
        <%= user_name(task.user) %>
        <span class="pull-right timeago" title="<%#= task.created_at.round(0).iso8601(10) %>"></span>
      </h6>
    <% end %>
    <p class="task">
      <%= sanitize(auto_link(task.task_text)) %>
      <span class="assign-info">
        <%= link_to "Not Assigned", edit_todolist_task_path(@todolist, task, nolayout: 1), "data-toggle" => "modal", "data-target" => "#newAgileRecord" %>
      </span>
      <span class="task-actions">
        <%#= link_to "Edit", edit_task_path(task) %>
        <%#= link_to "Delete", task, confirm: 'You are deleting the task, are you sure ?', method: :delete, remote: true %>
      </span>
    </p>
</li>