<ol>
  <%#= link_to (image_tag user_small_avatar(task.cruser), class: "media-object img-circle"), user_path(task.cruser), class: "pull-left" %>
  <div class="row-fluid">
    <% unless task.user_id == current_user.id %>
      <h6 class="media-heading">
        <%= user_name(task.user) %>
        <span class="pull-right timeago" title="<%= task.created_at.round(0).iso8601(10) %>"></span>
      </h6>
    <% end %>
    <p><%= sanitize(auto_link(task.task_text)) %></p>
  </div>
</ol>