<div class="row-fluid">
  <%= simple_form_for @payoff, url: wizard_path, method: :put, html: {class: 'form-horizontal'}, validate: true do |f| %>
    <%= f.error_notification %>
  
    <fieldset>

      <div class="row-fluid">
        <div class="span6">
          <%= f.input :staff_id, as: :hidden, label: "Sürücü/Personel", input_html: {class: "chosen_input", "data-url" => "/people.json", "data-newrecurl" => "/people/new", "data-placeholder" => "Sürücü/Personel Seçiniz."} %>
        </div>
        <div class="span6">
          <%= f.button :submit, "Devam Et >>" %>
        </div>
      </div>     

    </fieldset>
  <% end %>
</div>