<div class="box" id="followers">
  <div class="boxes">
    <div class="todoListHeader">Followers</div>
    <div class="todoListContents">
      <ol class="listClass" id="follower_list">
        <% for fower in loading.followers(User) %>
          <%= render "loadings/follower", :user => fower %>
        <% end %>
      </ol>
      <div class="rightside">
        <%= render 'shared/follow_button', object: loading %>
      </div>
    </div>
  </div>
</div>

