<div class="box" id="followers">
  <div class="boxes">
    <div class="todoListHeader">Followers</div>
    <div class="todoListContents">
      <ol class="listClass" id="follower_list">
        <% for fower in loading.followers(User) %>
          <%= render "loadings/follower", :user => fower %>
        <% end %>
      </ol>
      <div class="rightside">
        <% unless current_user.follows?(loading) %>
          <%= link_to "Follow", "#", :class => "btn primary follow_button", :id => "followme", "data-loadid" => "#{loading.slug}", "data-model" => "loadings" %>
        <% else %>
          <%= link_to "UnFollow", "#", :class => "btn danger unfollow_button", "data-loadid" => "#{loading.slug}", "data-model" => "loadings" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

