<div id="loading_list">
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th class="span2">Referans</th>
      <th class="span1">Direction</th>
      <th class="span3">Müşteri</th>
      <th class="span3">Çıkış Yeri</th>
      <th class="span2">Çıkış Tarihi</th>
      <th class="span3">Varış Yeri</th>
      <th class="span2">Varış Tarihi</th>
      <th class="span3">Mal Detayı</th>
      <th class="span2">Navlun</th>
    </tr>

    <%= render loadings %>
  </table>
</div>
