<div id="loading_list">
  <table id="selected-loads-table" class="table table-striped table-bordered table-condensed">
    <%= render 'loadings/table_tr' %>
    <%= render loadings %>
    <% unless @showsums.nil? %>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>TOPLAM</th>
        <th><%= loadings.sum(&:freight_price) %></th>
        <th><%= loadings.sum(&:brut_wg) %></th>
        <th></th>
      </tr>
    <% end %>
  </table>
</div>
