<div id="loading#{loading.id}_header">
  <div class="row-fluid">
    <dl class="yatay-info">
      <dd><strong><%= loading_name %></strong></dd>
      <dd><%= branch_name(loading.branch) %></dd>
      <dd><%= incoterm_name(loading.incoterm) %></dd>
      <dd class="pull-right">
        <%= link_to position_name(loading.position), position_path(loading.position) if loading.position %>
      </dd>
    </dl>
  </div>
</div>