<div class="row-fluid">
	<%= page_header_helper(t("loadings.defaults.edit_page_header")) %>
  <% if @loading.operation == 'inland' %>
    <%= render 'form_inland' %>
  <% else %>
    <%= render 'form' %>
  <% end %>
</div>
