<div id="loadings_index_page" class="row-fluid">

  <%= page_header_helper(t("loadings.defaults.page_header"), new_loading_path, t("loadings.defaults.new_record_label")) %>
  <%= page_intro_helper(t("loadings.defaults.intro_message")) %>

  <%= sub_header_with_search_form(t("loadings.defaults.last_records_title"), "loadings") %>

  <%= render "loadings/list", objects: @loadings, is_paginated: true %>

</div>
<script type="text/javascript">
  document.getElementById('loadingnavigator').classList.add('active');
</script>