<%= content_for(:sidebar, render(:partial => 'operations/sidebar', :locals => {:operation => @loading.operation} )) %>

<div id="operation" class="row">
  <div>
    <div><h2>New Loading</h2></div>
  </div>
  <%= render 'form' %>

</div>

