<% javascript "eco_manifest" %>

<div id="plan_loading">
  <div class="row-fluid">
    <%= render 'profile_header' %>
  </div>
  <div class="row-fluid">
    <div class="page-header">
      <h4>
      	Reservasyonu Bağlayacağınız Projeyi Seçiniz
      	<small class="pull-right">
          <%= link_to t("positions.link.list_positions"), "#", id: "list_positions", class: "btn btn-info", "data-loadingref" => @loading.slug %>
      	</small>
      </h4>
			<div id="loading-project-planning" class="row-fluid">

			</div>
    </div>
  </div>
</div>
