<div id="Loading_<%= @loading.id %>">
	<div class="page-header">
		<h3>Yük Detayı</h3>
	</div>
  <div>
    <%= render 'profile_header' %>
  </div>
  <div>
    <%= render 'profile_content' %>
  </div>
</div>
