<div id="Loading_<%= @loading.id %>">
	<%= page_header_helper(t("loadings.defaults.show_page_header")) %>
  <div class="row-fluid">
    <%= render 'profile_header' %>
  </div>
  <div class="row-fluid">
    <%= render 'profile_content' %>
  </div>
</div>
