<div id="transnode-home" class="publishercontainer">
  <div class="post-module-in">
    <%= render 'transnodes/form', :object => object %>
  </div>
</div>
<%= render 'transnodes/transnodes', :object => object %>
