<div id="transnode">

  <div class="row-fluid">
    <ul class="breadcrumb">
      <li><a href="#">Pozisyon Bilgileri</a><span class="divider">>></span></li>
      <li class="active">Gemi Bilgileri<span class="divider">>></span></li>
      <li><a href="#">Yük Bilgileri</a><span class="divider">>></span></li>
      <li><a href="#">Konteyner Bilgileri</a></li>
    </ul>
  </div>

  <%= render 'form' %>

</div>
