<div id="branches" class="tab-pane profile-content">
  <div id="branch_list_table" class="row-fluid">
    <legend>
      Şube Listesi
      <span class="rightside">
        <%= link_to new_branch_path, :class => 'btn btn-success' do %><i class="icon-plus-sign icon-white"></i>Yeni Şube Ekle<% end %>
      </span>
    </legend>
    <table class="table table-striped table-condensed table-bordered">
      <%= render patron.branches %>
    </table>
  </div>
</div>
