<div id="users" class="tab-pane profile-content">
  <div class="row">
    <div id="new_user_btn">
      <%= link_to "Add User", "#", :class => "btn primary togglebutton", "data-placement" => "below", "data-href" => "#new_user_div" %>
    </div>
    <div id="new_user_div" class="row slidingDiv">
      <%= render 'users/patron_user', :user => User.new() %>
    </div>
  </div>

  <div class="row">
    <div id="users_list_div">
      <table id="user_list" class="zebra-striped">
        <%= render patron.users %>
      </table>
    </div>
  </div>

</div>
