<div id="users" class="tab-pane profile-content">

  <div id="users_list_table">
    <legend>
      Kullan覺c覺 Listesi
      <span class="rightside">
        <%= link_to new_user_path, :class => 'btn btn-success' do %><i class="icon-plus-sign icon-white"></i>Yeni Kullan覺c覺 Ekle<% end %>
      </span>
    </legend>
    <table id="user_list" class="table table-striped table-condensed table-bordered">
      <%= render patron.users %>
    </table>
  </div>

</div>
