<div class="row">

  <div class="middle">
    <div class="midcloumn span4">
      <%= image_tag "check_mail.png" %>
      <p>Check Your Mail</p>
    </div>
    <div class="midcloumn span4">
      <%= image_tag "login_screen.png" %>
      <p>Login to SocialFreight</p>
    </div>
    <div class="midcloumn span4">
      <%= image_tag "use_application.png" %>
      <p>Test SocialFreight</p>
    </div>
  </div>  

</div>
