<div id="welcome" class="container">
  <div class="row">
    <div class="span12 columns">

      <div class="widget">
        <div class="page-header">
          <h5>We have sent you a mail, please check your mailbox. <br>By the way, thanks for choosing SocialFreight. We will happy to hear your feedbacks and comments.</h5>
        </div>
        <div class="row" style="text-align:center;margin-top:70px;margin-bottom:130px;">
          <div class="span3">
            <img src="../assets/check_mail.png" />
            <h5>Check Your Mail</h5>
          </div>
          <div class="span3">
            <img src="../assets/login_screen.png" />
            <h5>Login to SocialFreight</h5>
          </div>
          <div class="span3">
            <img src="../assets/run_app.png" />
            <h5>Run&Test SocialFreight</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
