<div id="welcome" class="container">
  <div class="row">
    <div class="span12 columns">
      <div class="welcome_screen">

        <div class="span3 columns">
          <img src="../assets/check_mail.png" />
          <p>Check Your Mail</p>
        </div>
        <div class="span3 columns">
          <img src="../assets/login_screen.png" />
          <p>Login to SocialFreight</p>
        </div>
        <div class="span3 columns">
          <img src="../assets/run_app.png" />
          <p>Run&Test SocialFreight</p>
        </div>
      </div>
    </div>
  </div>
</div>
