<div class="row-fluid">
<h4>Patron List</h4>

<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Tel</th>
    <th>Mail</th>
    <th>Fax</th>
    <th>Ülke</th>
    <th>Şehir</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @patrons %>

</table>
</div>