<div id="quick-profile" class="user">
  <div>
    <table  class="detailList" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="dataCol2"><%= @user.ffeec %>&nbsp;Followers</td>
        <td class="dataCol2"></td>
        <td class="labelCol2"></td>
        <td class="dataCol2"></td>
        <td class="dataCol2" rowspan="3"></td>
      </tr>
      <tr>
        <td class="dataCol2"><%= @user.ffeec %>&nbsp;Following</td>
        <td class="dataCol2"></td>
        <td class="labelCol2"></td>
        <td class="dataCol2 lastCol"></td>
      </tr>
      <tr>
        <td class="dataCol2"><%= @user.ffeec %>&nbsp;Likes</td>
        <td class="dataCol2 lastCol"></td>
        <td class="labelCol2"></td>
        <td class="dataCol2"></td>
      </tr>
    </table>
  </div>
</div>
