<li>
  <div class="feedline">
    <a href="#" class="img-load"><%= image_tag user.avatar_url(:small) %></a>
    <%#= link_to user, person_path(user.person) %>
    <span class="pull-right">
      <%= render 'shared/follow_button', object: user %>
    </span>
  </div>
</li>