<li>
  <div class="feedline">
    <a href="#" class="img-load"><%= image_tag user.avatar_url(:small) %></a>
    <%= link_to user, person_path(user.person) %>
    <span>
      <div class="rightside">
        <%= render 'shared/follow_button', object: user %>
      </div>
    </span>
  </div>
</li>
