<div class="row-fluid">
  <div id="user_tasks">
    <div class="page-header">
      <h5>Yardımcı Linkler&nbsp;<small>Videolar</small></h5>
    </div>
    <table class="table table-condensed">
      <tr><td>Reservasyon Oluşturma</td></tr>
      <tr><td>Yük ile ilgili fatura kalemlerinin girilmesi</td></tr>
      <tr><td>Sürücü hesaplaşmaları</td></tr>
      <tr><td>Gümrük masraflarının girilmesi</td></tr>
    </table>
  </div>
</div>