<div class="row-fluid">
  <div id="user_tasks" class="division">
    <div class="page-header">
      <h5>Görev Listesi<small class="pull-right"><a href="#">See all</a></small></h5>
    </div>
    <ul class="media-list">
      <%= render current_user.tasks %>
    <ul>
  </div>
</div>