<div class="row-fluid">
  <div id="user_tasks">
    <div class="page-header">
      <h5>Linkler&nbsp;<small class="pull-right"><%#= t("defaults.label.seeall") %></small></h5>
    </div>
    <ul class="links">
      <li style="line-height:30px"><%= link_to t("defaults.label.help_center"), "#" %></li>
      <li style="line-height:30px"><%= link_to t("defaults.messages.invite_coworkers"), invite_coworkers_users_path %></li>
      <li style="line-height:30px"><%= mail_to "bilgi.teknolojileri@ulusoy.com", t("defaults.messages.mail_to_support"), target: "_blank" %></li>
    </ul>
  </div>
</div>