<div class="row-fluid">
  <div id="warnings" class="feeds">
    <div id="user_statics" style="width:500px;height:300px;">
	<!--span class="leftside"><h4>Aktif Operation Sayıları</h4></span>
	<table class="common-table">
	   <tbody>
	     <tr class="numbers"><td>5</td><td>4</td><td>3</td><td>1</td><td>11</td></tr>
	     <tr class="numbers"><th>Air</th><th>Sea</th><th>Truck</th><th>Rail</th><th>Inland</th></tr>
	   </tbody>
	</table-->
        <%#= image_tag "charts.gif" %>
    </div>
    <!--ul>
	<li>
	   <div class="feedline">
	      <a href="#" class="img-load"><img src="../assets/small_plane.png" alt="" /></a>
	      <p>The <a href="airload.html">I.S.54545</a> has no Freight Price.</p>
	   </div>
	</li>
    </ul-->
  </div>
</div>