<div id="personalfeeds" class="feeds">
  <legend><%= current_patron.name %>&nbsp;Güncel Bildirimler</legend>
  <div id="new_post_div" class="feeds">
    <%= render 'posts/postable' %>
  </div>
</div>

