<div class="row-fluid">
  <div id="user_tasks">
    <div class="page-header">
      <h5>Yardımcı Linkler&nbsp;<small class="pull-right"><%= t("defaults.label.seeall") %></small></h5>
    </div>
    <table class="table table-condensed">
      <tr><td>Reservasyon Oluşturma</td></tr>
      <tr><td>Proje Oluşturma</td></tr>
      <tr><td>Reservasyon Proje İlişkilendirme</td></tr>
      <tr><td>Yeni firma kaydı oluşturma</td></tr>
    </table>
  </div>
</div>