<div class="row-fluid">
  <div id="user_tasks" class="division">
    <div class="page-header">
      <h5><%= t("tasks.title.last_tasks") %><small class="pull-right"><a href="#"><%= t("defaults.label.seeall") %></a></small></h5>
    </div>
    <ul class="media-list">
      <%= render current_user.tasks %>
    <ul>
  </div>
</div>