<div class="row-fluid">

	<div class="page-header">
		<h4>Ekip arkadaşlarınızı davet edin</h4>
	</div>

	<div class="row-fluid">
		<% unless @saved_emails.empty? %>
			<div class="page-header">
				<h5>Davet Maili Gönderilenler</h5>
			</div>
			<p>Aşağıdaki mail adreslerine davet mailleri gönderildi, mail kutularına gelen mesajdaki linke tıklayarak sisteme giriş yapabilirler<br>
        <% @saved_emails.each do |email| %>
          <%= email %>;&nbsp;
        <% end %>
			</p>
		<% end %>

		<% unless @rejected_emails.empty? %>
			<div class="page-header">
				<h5>Email adresi geçersiz olanlar</h5>
			</div>
      <p>Aşağıdaki mail adresleri geçersiz olduğu için herhangi bir davet maili gönderilmedi<br>
        <% @rejected_emails.each do |email| %>
          <%= email %>;&nbsp;
        <% end %>
			</p>
		<% end %>

    <div class="page-header">
			<h5><%= link_to "Başka çalışma arkadaşlarınızı da davet edebilir", invite_coworkers_users_path %>, veya <%= link_to "ana sayfaya dönebilirsiniz", root_url %></h5>
		</div>
	</div>
</div>