<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Son İşlem Tarihi</th>
    <th>Son Login Tarihi</th>
    <th>Oluşturulma Tarihi</th>
    <th></th>
    <th></th>
  </tr>

  <%= render @users %>

</table>

<br />

<%= link_to 'New user', new_user_path %>
