<div class="row-fluid">

	<div class="page-header">
		<h4>Ekip arkadaşlarınızı davet edin</h4>
	</div>

	<div class="row-fluid">
		<%= form_tag create_coworkers_users_path, method: :put, class: "simple_form form-horizontal" do %>  
      <fieldset>
		  <div class="control-group">
		  	<label class="control-label">Şube:</label>
		  	<div class="controls">
		  	  <%= select_tag(:branch_id, options_for_select(Branch.all.map { |branch| [branch.name, branch.id] }), include_blank: false) %>
		  	</div>
		  </div>
			<div class="page-header">
				<h5>Seçtiğiniz şubede ki ekip arkadaşlarınızın mail adreslerini giriniz.<small>Her şube için bu işlemi tekrar yapmalısınız.</small></h5>
			</div>
      <% for user in @users %>
        <div class="control-group">
	        <label class="control-label">E-Mail:</label>
	        <div class="controls"><%= text_field_tag "user_emails[]" %></div>
        </div>
      <% end %>
      </fieldset>
      <div class="form-actions">
        <%= submit_tag "Invite Co-workers", class: "btn btn-success" %> 
      </div>
		<% end %>
	</div>
</div>