<div class="row">

  <div class="span9 columns">
    <div id="login_image"></div>
    <%= render 'form' %>
    <div id="signupnote">
      <p>You have already an account?&nbsp;<%= link_to "Sign in", login_path%></p>
      <p>You have freight operations?&nbsp;<%= link_to "Try SocialFreight.", try_path%></p>
    </div>
  </div>

  <div class="span7 columns">
    <div id="login_roadmap">
      <%= image_tag "slide.jpg" %>
    </div>
  </div>

</div>


