<div class="btn-group">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="icon-<%= object.to_s %>"></i><span id="<%= object.to_s %>_counter" class="badge"><%= number %></span>
	</a>
	<ul id="<%= object.to_s %>_list" class="dropdown-menu">

	</ul>
</div>