<div class="pageHeader profile" style="margin-bottom:10px;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="pbTitle">
          <h3 class="mainTitle"><%= (params[:action] + " " + params[:controller]).humanize %></h3>
        </td>
        <td style="width:85%;text-align:center">
          <%= f.button :submit, "Kaydet", :class => 'btn btn-info' %>
          <%#= f.button :submit, "Kaydet & Yeni", :class => "btn btn-info", :name => "saveandnew" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
