<div class="pageHeader profile" style="margin-bottom:10px;">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
      <tr style="width:100%">
        <td class="pbTitle"  style="width:50%;text-align:left">
          <h3 class="mainTitle"><%= (params[:action] + " " + params[:controller]).humanize %></h3>
        </td>
        <td style="width:50%;text-align:left">
          <%= f.button :submit, "Kaydet", :class => 'btn btn-info', :accesskey => "s" %>
          <%#= f.button :submit, "Kaydet & Yeni", :class => "btn btn-info", :name => "saveandnew" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
