<div class="pageHeader">
  <table cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="tdTitle">
          <img class="minWidth" width="1" height="1" title="" alt="" src="../assets/s.gif">
        </td>
        <td id="topButtonRow" class="pbButton">
          <input class="btn primary" type="submit" name="save" title="Save" value=" Save ">
          <input class="btn primary" type="submit" name="save_new" title="Save & New" value="Save & New">
          <input class="btn danger" type="submit" name="cancel" title="Cancel" value="Cancel">
        </td>
      </tr>
    </tbody>
  </table>
</div>
