<div class="pageHeader">
  <table style="width:100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td style="width:90%;text-align:center">
          <%= f.button :submit, "Kaydet", :class => 'btn btn-info' %>
          <%= f.button :submit, "Kaydet & Yeni", :class => "btn btn-info", :name => "saveandnew" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
