<div class="listHeader profile" style="margin-bottom:10px;">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
      <tr style="width:100%">
        <td class="listTitle"  style="width:30%;text-align:left">
          <h3 class="mainTitle"><%= listItem.humanize.pluralize %></h3>
        </td>
        <td class="listButtons" style="width:50%;text-align:left">
          
          <%= link_to "New #{listItem.humanize}", new_record_path(listItem, object), class: "btn btn-mini btn-info" %>
          
        </td>
        <td class="listHelp" style="width:20%;text-align:right;padding-right:10px;">
          <%= link_to "#" do %><%= "#{listItem.humanize.pluralize} Help" %><i class="icon-question-sign"></i><% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
