<div id="recentItems" class="sidebarMenu">
  <div class="sidebarMenuHeader">
    <h4>Son İşlemler...</h4>
  </div>
  <div class="sidebarMenuBody">
    <div id="recentList">
      <%= render current_user.activities.latests.limit(10) %>
    </div>
  </div>
</div>

