<div id="recentItems" class="sidebarMenu">
  <div class="sidebarMenuHeader">
    <a class="btn btn-info btn-block" href="#">
      <i class="icon-list-alt icon-white"></i><%= t("defaults.title.last_items") %><i class="icon-list-alt icon-white"></i>
    </a>
  </div>

  <div class="sidebarMenuBody">
    <div class="row-fluid">
      <%= render partial: "activities/activity", collection: current_user.activities.latests.limit(10) %>
    </div>
  </div>
</div>