<div id="recentItems" class="sidebarMenu">
  <div class="sidebarMenuHeader">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-info" href="#"><i class="icon-list-alt icon-white"></i>Son İşlemleriniz<i class="icon-list-alt icon-white"></i></a>
      </div>
    </div>
  </div>
  <div class="sidebarMenuBody">
    <div id="recentList">
      <%= render current_user.activities.latests.limit(10) %>
    </div>
  </div>
</div>