<div>
  <h5>
    <%= t("defaults.title.#{listItem.pluralize}") %>
    <span class="sub-link">
      <%= link_to t("defaults.link.new_#{listItem}"), new_record_path(listItem, object), class: "btn btn-mini btn-info" %>
    </span>
  </h5>
</div>