<div class="home-portfolio container clearfix">
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Best Places to Stuff Your Faces Book</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">AIGA Chicago Poster</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Roosevelt University Un-Viewbooks</a></span>
    </li>
  </ul>
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Best Places to Stuff Your Faces Book</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">AIGA Chicago Poster</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Roosevelt University Un-Viewbooks</a></span>
    </li>
  </ul>
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Best Places to Stuff Your Faces Book</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">AIGA Chicago Poster</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Roosevelt University Un-Viewbooks</a></span>
    </li>
  </ul>
</div>
<div class="container portfolio-pager">
  <div id="portfolio-pager"></div>
</div>

