<div class="alternate">
  <div class="container">
    <div class="row">
      <ul class="nav-tabs">
        <li class="active"><a data-toggle="tab" href="#socialfreighterp">SocialFreight & ERP</a></li>
        <li><a data-toggle="tab" href="#cloudcomputing">Cloud Computing</a></li>
        <li><a data-toggle="tab" href="#multimodal">Multimodal</a></li>
        <!--li><a data-toggle="tab" href="#social">Sosyal İletişim</a></li-->
      </ul>
      <div id="my-tab-content" class="tab-content">
        <div id="socialfreighterp" class="tab-pane profile-content active">
          <h4>SocialFreight & ERP</h4>
          <p class="footerp">SocialFreight, lojistik ve nakliye hizmeti sunan firmaların bütün süreçlerini yönetmek üzere geliştirilmekte olan bir yazılım sistemidir. Aynı amaçlı ERP sistemleri ile karşılaştırdığımızda;
          SocialFreight, ERP sistemleri gibi bir donanım yatırımı gerektirmez. Yine yazılım lisansı gibi ilk edinim maliyetleri yoktur. Kullanımı daha kolaydır, ERP sistemleri gibi karmaşık süreçler içermez. SocialFreight ile her daim en güncel yazılımı kullanırsınız, ERP sistemleri gibi belirli aralıklar ile güncelleme yapmanız gerekmez. Araç takip sistemleri, harita sistemleri ile entegrasyon için ekstra maliyet istemez.</p>
        </div>
        <div id="cloudcomputing" class="tab-pane profile-content">
          <h4>Cloud Computing & SAAS</h4>
          <p class="footerp"><a href="http://en.wikipedia.org/cloud_computing" target="_blank">Cloud Computing</a>, server gibi donanımlar ile yazılım hizmetlerinin, internet üzerinden servis olarak sunulmasıdır. Kullanıcıların herhangi bir donanım veya yazılım için yatırım yapmalarına gerek olmaksınız, bu sistemleri ihtiyaçları oldukça kiralayarak kullanmalarını sağlayan sistemlerdir.</p>
          <p class="footerp">SAAS ise; <a href="http://en.wikipedia.org/wiki/Software_as_a_service">Software-as-a-service</a> kelimelerinin baş harflerinden gelen bir terimdir, yazılımın servis olarak sunulması anlamına gelir. Bir anlamda yazılımın ihtiyaç duyulan kısımlarının kiralanarak, ihtiyaç duyulan süre boyunca kullanılabilmesidir.</p>
        </div>
        <div id="multimodal" class="tab-pane profile-content">
          <h4>Multimodal</h4>
          <p class="footerp">Multimodal; yüklerin bir noktadan, diğer bir noktaya farklı araçlar ile taşınması olarak tanımlanabilir. SocialFreight ile bir yükün taşıma süreci boyunca, bütün farklı modal taşımalarını takip edebilirsiniz. Bir dorsenin karayolu, RORO ve Tren ile taşınması gibi farklı multimodal taşımalarını tek bir proje altında görebilirsiniz. Yine bütün operasyon yönetimlerinde, ön ve son dahili taşımalarını aynı şekilde tek bir proje altında görebilirsiniz.</p>
        </div>
        <!--div id="social" class="tab-pane profile-content">
          <h4>Sosyal İletişim</h4>
          <p class="footerp"><a href="http://en.wikipedia.org/cloud_computing" target="_blank">Cloud Computing</a>, server gibi donanımlar ile yazılım hizmetlerinin, internet üzerinden servis olarak sunulmasıdır. Kullanıcıların herhangi bir donanım veya yazılım için yatırım yapmalarına gerek olmaksınız, bu sistemleri ihtiyaçları oldukça kiralayarak kullanmalarını sağlayan sistemlerdir.</p>
          <p class="footerp">SAAS ise Software-as-a-service kelimelerinin baş harflerinden gelen bir terimdir, yazılımın servis olarak sunulması anlamına gelir. Bir anlamda yazılımın ihtiyaç duyulan kısımlarının kiralanarak, ihtiyaç duyulan süre boyunca kullanılabilmesidir.</p>
        </div-->
      </div>
    </div>
  </div>
</div>