<div id="alternate">
  <div class="container clearfix">
    <ul class="row">
      <li class="span4 blog-widget">
        <h3>Some Articles From The Blog</h3>
        <div class="blog-slider">
          <div>
            <ul class="blog-widget-articles">
              <li class="blog-widget-article">
                <a href="single-blog.html"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                <div class="blog-widget-info">
                  <a class="blog-widget-title" href="single-blog.html">Effective User Research And Transforming The Minds Of Clients</a>
                  <div class="blog-widget-meta">
                    <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                  </div>
                </div>
              </li>
              <li class="blog-widget-article">
                <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                <div class="blog-widget-info">
                  <a class="blog-widget-title" href="single-blog.html">Holidays Around The World: Smashing Photo Contest</a>
                  <div class="blog-widget-meta">
                    <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                  </div>
                </div>
              </li>
              <li class="blog-widget-article">
                <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                <div class="blog-widget-info">
                  <a class="blog-widget-title" href="single-blog.html">Mixing Up Illustration: Combining Analog And Digital Techniques</a>
                  <div class="blog-widget-meta">
                    <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <ul class="blog-widget-articles">
              <li class="blog-widget-article">
                <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                <div class="blog-widget-info">
                  <a class="blog-widget-title" href="single-blog.html">Introduction To Designing For Windows Phone 7 And Metro</a>
                  <div class="blog-widget-meta">
                    <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                  </div>
                </div>
              </li>
              <li class="blog-widget-article">
                <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                <div class="blog-widget-info">
                  <a class="blog-widget-title" href="single-blog.html">Smashing Photo Contest Holidays Around The World: Best Entries!</a>
                  <div class="blog-widget-meta">
                    <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                  </div>
                </div>
              </li>
              <li class="blog-widget-article">
                <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                <div class="blog-widget-info">
                  <a class="blog-widget-title" href="single-blog.html">Dear Drupal: Season's Greetings. Love, Smashing WordPress.</a>
                  <div class="blog-widget-meta">
                    <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div>

<ul class="blog-widget-articles">


    <li class="blog-widget-article">

<a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>

<div class="blog-widget-info">

    <a class="blog-widget-title" href="single-blog.html">The Smashing Deals Countdown: Three More Days Till Christmas</a>

    <div class="blog-widget-meta">

<a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>

    </div>

</div>

    </li>

    <li class="blog-widget-article">

<a href="#"><img src="assets/big_images/thumb-1.jpg" alt="" /></a>

<div class="blog-widget-info">

    <a class="blog-widget-title" href="single-blog.html">How Do You Deal With Overstressed, Irrational Clients? An Entrepreneur’s View</a>

    <div class="blog-widget-meta">

<a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>

    </div>

</div>

    </li>

    <li class="blog-widget-article">

<a href="#"><img src="assets/big_images/thumb-1.jpg" alt="" /></a>

<div class="blog-widget-info">

    <a class="blog-widget-title" href="single-blog.html">Teach Them How To Hit The Ground Running And Faceplant At The Same Time? </a>

    <div class="blog-widget-meta">

<a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>

    </div>

</div>

    </li>


</ul>

    </div>

</div>

<div class="blog-pager">


    <div id="blog-pager"></div>


</div>

    </li>

    <li class="span4 testimonial-widget">

<h3>What Clients Says About Us</h3>

<ul class="testimonials clearfix">

    <li class="testimonial">

<div class="testimonial-widget-info">

    <img src="assets/big_images/testimonial-avatar-1.jpg" alt="" />

    <div class="testimonial-widget-meta">

<span>Hugh Laurie</span>
<a href="#">http://hughlaurieblues.com/</a>

    </div>


</div>

<blockquote><p>The Dany Duchaine team provided us with the best care possible in our website redesign. We came into this process with specific needs and goals.</p> <p>They took the time to clarify what that meant to us, what that looked like to them, and every need and goal was met.</p></blockquote>

    </li>

    <li class="testimonial">

<div class="testimonial-widget-info">

    <img src="assets/big_images/testimonial-avatar-1.jpg" alt="" />

    <div class="testimonial-widget-meta">

<span>Louis C.K</span>
<a href="#">https://www.louisck.net</a>

    </div>


</div>

<blockquote><p>Dany Duchaine have been superb. Their customer service is great.</p> <p>The guys there respond very quickly and go above and beyond to help.</p></blockquote>

    </li>

    <li class="testimonial">

<div class="testimonial-widget-info">

    <img src="assets/big_images/testimonial-avatar-1.jpg" alt="" />

    <div class="testimonial-widget-meta">

<span>Hugh Laurie</span>
<a href="#">http://hughlaurieblues.com/</a>

    </div>


</div>

<blockquote><p>The Dany Duchaine team provided us with the best care possible in our website redesign. We came into this process with specific needs and goals.</p> <p>They took the time to clarify what that meant to us, what that looked like to them, and every need and goal was met.</p></blockquote>

    </li>

    <li class="testimonial">

<div class="testimonial-widget-info">

    <img src="assets/big_images/testimonial-avatar-1.jpg" alt="" />

    <div class="testimonial-widget-meta">

<span>Louis C.K</span>
<a href="#">https://www.louisck.net</a>

    </div>


</div>

<blockquote><p>Dany Duchaine have been superb. Their customer service is great.</p> <p>The guys there respond very quickly and go above and beyond to help.</p></blockquote>

    </li>

</ul>

<div class="testimonial-pager">


    <div id="testimonial-pager"></div>


</div>

    </li>

    <li class="span4 video-widget">

<h3>What About A Video Widget</h3>

<div class="video-holder">

    <iframe src="http://player.vimeo.com/video/34177255?title=0&amp;byline=0&amp;portrait=0" width="259" height="155" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/34177255">Manawai - Endless summer</a> from <a href="http://vimeo.com/user626205">Andro Kajzer</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

</div>

    </li>

</ul>

    </div>

</div>

