<div class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>Our Expertise</h3>
        <p>Vivamus et nisl nulla. Pellentesque tincidunt, mi <a href="#">pretium condimentum</a> mattis, orci lacus adipiscing ipsum, vitae eleifend lorem velit vitae turpis.</p>
        <a style="margin-top: 10px;" class="small-btn blue rounded-1" href="#">Read more</a>
      </div>
      <div class="span4">
        <h3>Our Mission</h3>
        <p>Mascetur ridiculus mus. <a href="#">Nullam faucibus, nisi sed</a> ultricies elementum, magna mauris pharetra.</p>
        <p>Vivamus et nisl nulla. Orci lacus adipiscing ipsum, vitae eleifend lorem velit vitae turpis.</p>
        <a style="margin-top: 10px;" class="small-btn blue rounded-1" href="#">Read more</a>
      </div>
      <div class="span4">
        <h3>From Twitter</h3>
        <div class="tweet"></div>
        <a class="small-btn blue rounded-1" href="#">Follow us</a>
      </div>
      <div class="span4">
        <img style="margin-bottom: 10px;" src="/assets/big_images/logo-small.png" alt="" />
        <p class="footer-description">Integer at nulla ut mauris pretium imperdiet tristique at massa.Praesent <a href="#">malesuada nunc et</a> turpis consectetur . </p>
      </div>
    </div>
  </div>
</div>
<div class="small-footer container">
  <div class="footer-left"><p>Copyright © Synapse 2011. All rights reserved.</p></div>
  <div class="footer-right"><p><a href="#">Home</a> / <a href="#">About Us</a> / <a href="#">Our Portfolio</a> / <a href="#">Services</a> / <a href="#">Contact</a></p>
  </div>
</div>
