<div class="home-portfolio container clearfix" style="overflow: hidden;">
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/documentmanagement.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Döküman Yönetimi</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/datasecurity.png" alt="" /></a>
      <span><a href="single-portfolio.html">Veriniz Güvende</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/socialapps.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Bütün servisler bulutta</a></span>
    </li>
  </ul>
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/offermanagement.png" alt="" /></a>
      <span><a href="single-portfolio.html">Teklif Yönetimi</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/costmanagement.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Sürücü Hesaplaşma</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/aircargo.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Operasyon Yönetimi</a></span>
    </li>
  </ul>
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Best Places to Stuff Your Faces Book</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">AIGA Chicago Poster</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Roosevelt University Un-Viewbooks</a></span>
    </li>
  </ul>
</div>
<div class="container portfolio-pager">
  <div id="portfolio-pager"></div>
</div>

