      <div class="span3 sidebar">
        <ul class="widgets">
          <li class="widget category-widget clearfix">
            <h4>Mevcut Servisler</h4>
            <ul class="clearfix">
              <li><a href="#">Hava Operasyon Yönetimi</a><span><a href="#">OK</a></span></li>
              <li><a href="#">Deniz Operasyon Yönetimi</a><span><a href="#">OK</a></span></li>
              <li><a href="#">Kara Operasyon Yönetimi</a><span><a href="#">OK</a></span></li>
              <li><a href="#">Tren Operasyon Yönetimi</a><span><a href="#">OK</a></span></li>
              <li><a href="#">Filo Yönetimi</a><span><a href="#">OK</a></span></li>
              <li><a href="#">Müşteri Yönetimi</a><span><a href="#">OK</a></span></li>
              <li><a href="#">Döküman Yönetimi</a><span><a href="#">OK</a></span></li>
              <li><a href="#">Masraf Yönetimi</a><span><a href="#">OK</a></span></li>
            </ul>
            <h4>Planlanan Servisler</h4>
            <ul class="clearfix">
              <li><a href="#">Finans Yönetimi</a><span><a href="#">Soon</a></span></li>
              <li><a href="#">Depo & Antrepo Yönetimi</a><span><a href="#">Soon</a></span></li>
              <li><a href="#">Mobil Uygulamalar</a><span><a href="#">Soon</a></span></li>
              <li><a href="#">Araç Takip Entegrasyonu</a><span><a href="#">Soon</a></span></li>
              <li><a href="#">Harita Servis Entegrasyonu</a><span><a href="#">Soon</a></span></li>
            </ul>
          </li>
          <!--li class="widget blog-widget">
            <h4>From The Blog</h4>
            <div class="sidebar-blog-slider">
              <div>
                <ul class="blog-widget-articles">
                  <li class="blog-widget-article">
                    <a href="single-blog.html"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                    <div class="blog-widget-info">
                      <a class="blog-widget-title" href="single-blog.html">Effective User Research And Transforming The Minds Of Clients</a>
                      <div class="blog-widget-meta">
                        <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                      </div>
                    </div>
                  </li>
                  <li class="blog-widget-article">
                    <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                    <div class="blog-widget-info">
                      <a class="blog-widget-title" href="single-blog.html">Holidays Around The World: Smashing Photo Contest</a>
                      <div class="blog-widget-meta">
                        <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                      </div>
                    </div>
                  </li>
                  <li class="blog-widget-article">
                    <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                    <div class="blog-widget-info">
                      <a class="blog-widget-title" href="single-blog.html">Combining Analog And Digital Techniques</a>
                      <div class="blog-widget-meta">
                        <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="blog-widget-articles">
                  <li class="blog-widget-article">
                    <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                    <div class="blog-widget-info">
                      <a class="blog-widget-title" href="single-blog.html">Introduction To Designing For Windows Phone 7 And Metro</a>
                      <div class="blog-widget-meta">
                        <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                      </div>
                    </div>
                  </li>
                  <li class="blog-widget-article">
                    <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                    <div class="blog-widget-info">
                      <a class="blog-widget-title" href="single-blog.html">Smashing Photo Contest “Holidays Around The World”: Best Entries!</a>
                      <div class="blog-widget-meta">
                        <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                      </div>
                    </div>
                  </li>
                  <li class="blog-widget-article">
                    <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
                    <div class="blog-widget-info">
                      <a class="blog-widget-title" href="single-blog.html">Smashing Photo Contest “Holidays Around The World”: Best Entries!</a>
                      <div class="blog-widget-meta">
                        <a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div>
              </div>
            </div>
            <div class="sidebar-blog-pager">
              <div id="sidebar-blog-pager"></div>
            </div>
          </li-->
          <li class="widget sidebar-twitter-widget">
            <h4>Bizi Takip Edin</h4>
            <div class="sidebar-tweet"></div>
          </li>
          <!--li class="widget sidebar-video-widget">
            <h4>Video Widget</h4>
            <div class="video-holder">
              <iframe src="http://player.vimeo.com/video/34177255?title=0&amp;byline=0&amp;portrait=0" width="209" height="155" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/34177255">Manawai - Endless summer</a> from <a href="http://vimeo.com/user626205">Andro Kajzer</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
            </div>
          </li-->
        </ul>
      </div>
