<div class="alternate">
  <div class="container">
    <div class="row">
      </div-->
      <div class="span6">
        <h4>Multimodal</h4>
        <p class="footerp">Multimodal; yüklerin bir noktadan, diğer bir noktaya farklı araçlar ile taşınması olarak tanımlanabilir. SocialFreight ile bir yükün taşıma süreci boyunca, bütün farklı taşımalarını takip edebilmenizi sağlar. Bir dorsenin karayolu taşımasını, RORO ile taşımasını, Tren ile taşınması gibi farklı multimodal taşımalarını tek bir proje altında görebilirsiniz. Yine bütün operasyon yönetimlerinde, ön ve son dahili taşımalarını aynı şekilde tek bir proje altında görebilirsiniz.</p>
      </div>
      <div class="span6">
        <h4>Sosyal İletişim</h4>
        <p class="footerp"><a href="http://en.wikipedia.org/cloud_computing" target="_blank">Cloud Computing</a>, server gibi donanımlar ile yazılım hizmetlerinin, internet üzerinden servis olarak sunulmasıdır. Kullanıcıların herhangi bir donanım veya yazılım için yatırım yapmalarına gerek olmaksınız, bu sistemleri ihtiyaçları oldukça kiralayarak kullanmalarını sağlayan sistemlerdir.</p>
        <p class="footerp">SAAS ise Software-as-a-service kelimelerinin baş harflerinden gelen bir terimdir, yazılımın servis olarak sunulması anlamına gelir. Bir anlamda yazılımın ihtiyaç duyulan kısımlarının kiralanarak, ihtiyaç duyulan süre boyunca kullanılabilmesidir.</p>
      </div>
    </div>
  </div>
</div>