<div class="home-portfolio container clearfix" style="overflow: hidden;">
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/cloudeconomic.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Bütün servisler bulutta</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/datasecurity.png" alt="" /></a>
      <span><a href="single-portfolio.html">Veriniz Güvende</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/socialapps.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Sosyal Lojistik Süreçleri</a></span>
    </li>
  </ul>
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/aircargo.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Operasyon Yönetimi</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/documentmanagement.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Firma Yönetimi</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/costmanagement.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Finans Yönetimi</a></span>
    </li>
  </ul>
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/documentmanagement.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Döküman Yönetimi</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/costmanagement.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Sürücü Hesaplaşmaları</a></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <a href="single-portfolio.html"><img src="/assets/big_images/portfolio-img-1.jpg" alt="" /></a>
      <span><a href="single-portfolio.html">Filo Yönetimi</a></span>
    </li>
  </ul>
</div>
<div class="container portfolio-pager">
  <div id="portfolio-pager"></div>
</div>

