      <h3 class="comment-h3">2 Comments For "Effective User Research And Transforming The Minds Of Clients"</h3>
      <div class="clearfix">
        <ul id="comments" class="clearfix">
          <li class="page-content comment clearfix">
            <div class="comment-info">
              <img src="/assets/big_images/testimonial-avatar-1.jpg" alt="" />
            </div>
            <div class="comment-content">
              <div class="comment-meta">
                <span>Hugh Laurie</span>
                <a href="#">January 5th, 2012 at 4:47 pm </a>
              </div>
              <p>The Dany Duchaine team provided us with the best care possible in our website redesign. We came into this process with specific needs and goals.</p> <p>They took the time to clarify what that meant to us, what that looked like to them, and every need and goal was met.</p>
            </div>
          </li>
          <li class="page-content comment clearfix">
            <div class="comment-info">
              <img src="/assets/big_images/testimonial-avatar-1.jpg" alt="" />
            </div>
            <div class="comment-content">
              <div class="comment-meta">
                <span>Louis C.K</span>
                <a href="#">January 4th, 2012 at 7:20 pm </a>
              </div>
              <p>Our love isn't any different from yours, except it's hotter, because I'm involved. There, now he's trapped in a book I wrote: a crummy world of plot holes and spelling errors! Now Fry, it's been a few years since medical school, so remind me. Disemboweling in your species: fatal or non-fatal? I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him. Why yes! Thanks for noticing.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="page-content clearfix">
        <h3>Leave A Comment</h3>
        <p>If you liked this article, go ahead and leave a comment!</p>
        <br/>
        <div id="comment-form">
          <span>Name :</span>
          <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
          <span>E-mail :</span>
          <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
          <span>Your Message :</span>
          <textarea class="xxlarge" id="textarea3" name="textarea3" rows="10"></textarea>
          <a class="small-btn blue rounded-1" href="#">Submit Comment</a>
        </div>
      </div>
