<div id="alternate">
  <div class="container">
    <div class="row">
      <!--div class="span3">
        <h4>SocialFreight</h4>
        <p>Kimler Kullanmalı</p>
        <p>Güvenlik</p>
        <p>Servisler</p>
        <a style="margin-top: 10px;" class="small-btn blue rounded-1" href="#">Read more</a>
      </div>
      <div class="span3">
        <h4>Our Mission</h4>
        <p>Sektörel Sosyal Ağ</p>
        <p>Harita Servisleri</p>
        <p>Araç Takip Entegrasyonu</p>
        <a style="margin-top: 10px;" class="small-btn blue rounded-1" href="#">Read more</a>
      </div>
      <div class="span3">
        <h4>Roadmap</h4>
        <p>Antrepo Yönetimi</p>
        <p>Yakıt Yönetimi</p>
        <p>Kariyer Yönetimi</p>
        <a style="margin-top: 10px;" class="small-btn blue rounded-1" href="#">Read more</a>
      </div>
      <div class="span3">
        <h4>From Twitter</h4>
        <div class="tweet"></div>
        <a class="small-btn blue rounded-1" href="http://www.twitter.com/socialfreight" target="_blank">Follow us</a>
      </div-->
      <div class="span6">
        <h4>SocialFreight & ERP</h4>
        <p class="footerp">SocialFreight, lojistik ve nakliye hizmeti sunan firmaların bütün süreçlerini yönetmek üzere geliştirilmekte olan bir yazılım sistemidir. Aynı amaçlı ERP sistemleri ile karşılaştırdığımızda;
        SocialFreight, ERP sistemleri gibi bir donanım yatırımı gerektirmez. Yine yazılım lisansı gibi ilk edinim maliyetleri yoktur. Kullanımı daha kolaydır, ERP sistemleri gibi karmaşık süreçler içermez. SocialFreight ile her daim en güncel yazılımı kullanırsınız, ERP sistemleri gibi belirli aralıklar ile güncelleme yapmanız gerekmez. Araç takip sistemleri, harita sistemleri ile entegrasyon için ekstra maliyet istemez.</p>
      </div>
      <div class="span6">
        <h4>Bulut Sistemler ve SAAS</h4>
        <p class="footerp">Bulut Sistemler (Cloud Based), genel olarak kullanıcıların herhangi bir donanıma yatırım yapmalarına gerek olmaksınız, bu sistemleri ihtiyaçları oldukça kiralayarak kullanmalarını sağlayan sistemlerdir. SAAS ise Software-as-a-service kelimelerinin baş harflerinden gelen bir terimdir, yazılımın servis olarak sunulması anlamına gelir. Bir anlamda yazılımın ihtiyaç duyulan kısımlarının kiralanarak, ihtiyaç duyulan süre boyunca kullanılabilmesidir.</p>
      </div>
    </div>
  </div>
  <div class="footer-left"><p>Copyright © SocialFreight 2012. All rights reserved.</p></div>
</div>
