<div id="aboutus" class="container">
  <div class="row">
    <div class="span6 columns">
      <div class="row">
        <div class="page-header">
          <h4>Hakkımızda</h4>
        </div>
        <!--p>SocialFreight; lojistik ve nakliye süreçlerinin, daha kolay ve daha etkin yönetimi için farklı bir deneyim sunmak üzere tasarlanmış bir web uygulamasıdır.<br/>
        Lojistik sektöründe farklı firmalarda yazılım ve süreç deneyimi olan bir ekip tarafından, modern teknolojiler kullanılarak, kullanımı kolay bir uygulama olarak geliştirilmektedir.<br/>SocialFreight; ERP programları gibi karmaşık süreçlerin olmadığı, facebook kullanır gibi kullanabileceğiniz, sosyal medya kavramlarının lojistik süreçler ile harmanlandığı bir lojistik yazılımıdır.</p-->
        <p style="white-space:pre-wrap">
<b>1925</b>
Aşırı yağışlar nedeniyle  Of ile Çaykara sınırındaki Solaklı Deresi’nin taşması sonucu iki belde arasında ulaşım sorunu yaşanır. Zeki ve girişimci kişiliğe sahip Hacı Mehmet Bahattin Ulusoy,  basit bir sal yaparak iki belde arasındaki ulaşımı tekrar sağlar. Taşımacılık sektörüyle tesadüf eseri bu şekilde tanışan Hacı Mehmet Bahattin Ulusoy,  tüm yaşantısını ve üç kuşak ailenin kaderini belirleyecek çözümü de üretmiş olur.

<b>1928</b>
İlk araç satın alınarak taşımacılık sektöründe Lider Ulusoy markasının ilk tohumları atılır.

<b>1937</b>
Of –Trabzon arasında yolcu ve yük taşımacılığı başlar.

<b>1957</b>
Bayrağı devralan Cemal Ulusoy, henüz 22 yaşındayken Ulusoy Otobüs Yöneticiliğine başlar. Bu başlangıçla hem Ulusoy’ u bulunduğu noktalardan çok üst seviyelere taşıyacak, hem de sektörün şekillenmesi ve gelişmesine büyük katkılarda bulunacaktır.

<b>1963</b>
Cemal Ulusoy İstanbul’a gelerek, Ulusoy’un batıya açılan yüzü olur. 60’lı yılların 2. yarısında Ulusoy Turizm Şirketi’ ni hayata geçirir.

<b>1970</b>
Cemal Ulusoy Türk taşımacılık sektöründe ilk kurumsal adımı atarak, Anadolu Otobüsçüler Derneği’ni kurar.

<b>1974</b>
Uluslararası karayolu yük taşımacılığına başlanır.

<b>1979</b>
Türkiye –İngiltere arasındaki lojistik faaliyetlere bir köprü oluşturan Ulusoy UK Express kurulur.

<b>1982</b>
Ulusoy, deniz taşımacılığına adım atar.

<b>1985</b>
Türkiye genelinde akaryakıt, lojistik ve dağıtım hizmeti veren Ulusoy Seyahat Nakliyat ve Ticaret A.Ş. kurulur.

<b>1987</b>
18 yıl başkanlığını yaptığı Anadolu Otobüsçüler Derneği’ni ,  diğer otobüs dernekleri ile birleştirerek, Uluslararası  Anadolu Trakya Otobüsçüleri Derneği’nin kurucusu olur.

Halihazırda hizmet vermeye devam eden Büyük İstanbul Otogarı’nın yapımı yine 1987 yılında Cemal Ulusoy tarafından başlatılır.

<b>1988</b>
Avrupa içerisinde Ulusoy operasyonlarına destek veren Ulusoy GMBH kurulur.

<b>1989</b>
Acı kaybımız… Cemal Ulusoy’u kaybettik.

<b>1999</b>
Çok kullanıcılı veya müşteriye özel gümrüklü ve gümrüksüz depolama hizmetleri veren Ulusoy Depolama Hizmetleri Ltd. Şti. kurulur.

<b>2008</b>
Alican Ulusoy, 2008 yılına kadar bilfiil Yönetim Kurulu Üyesi olarak çalıştığı Ulusoy Ticari Yatırımlar Holdingin kurucuları tarafından üç eşit parçaya bölünerek ayrılması sonucu ana faaliyet alanlarını uluslararası lojistik, enerji, atık yönetimi ve yeniden kazanım olarak belirleyen Ulusoy Uluslararası Yatırım Holding’i kurar.

        </p>
      </div>
    </div>
    <div class="span1 columns">
      <p></p>
    </div>
    <div class="span5 columns">
      <%#= render "feedbacks/form" %>
    </div>
  </div>
</div>