<div id="aboutus" class="container">
  <div class="row">
    <div class="span6 columns">
      <div class="row">
        <div class="page-header">
          <h4>Hakkımızda</h4>
        </div>
        <p>SocialFreight; lojistik ve nakliye süreçlerinin, daha kolay ve daha etkin yönetimi için farklı bir deneyim sunmak üzere tasarlanmış bir web uygulamasıdır.<br/>
        Lojistik sektöründe farklı firmalarda yazılım ve süreç deneyimi olan bir ekip tarafından, modern teknolojiler kullanılarak, kullanımı kolay bir uygulama olarak geliştirilmektedir.<br/>SocialFreight; ERP programları gibi karmaşık süreçlerin olmadığı, facebook kullanır gibi kullanabileceğiniz, sosyal medya kavramlarının lojistik süreçler ile harmanlandığı bir lojistik yazılımıdır.</p>
      </div>
    </div>
    <div class="span1 columns">
      <p></p>
    </div>
    <div class="span5 columns">
      <%= render "feedbacks/form" %>
    </div>
  </div>
</div>