<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span8">
      <div class="page-content">
        <div class="article-thumb">
          <a href="single-blog.html"><img src="/assets/big_images/slider-img-3.jpg" alt="" /></a>
          <a class="article-title" href="#">SocialFreight Hava Operasyon</a>
        </div>
        <div class="features">
          <ul class="blog-articles-list">
            <li class="blog-article clearfix">
              <p>SocialFreight Hava Nakliye uygulaması; 3PL, Freight Forwarder, hava kargo firmaları için, hava nakliye süreçlerinin tamamını yönetebilmelerini sağlayacak şekilde tasarlanmıştır.</p>
              <h4>Hava Operasyon Yönetimi</h4> 
              <p>SocialFreight; Hava kargo taşımacılığı süreçlerin takibi için tasarlanmıştır. Gerek ön taşıma, gerekse son taşıma işlemlerini kolayca takip edebilirsiniz. CASS benzeri tedarikçi firmalar ile mutabakat işlemleri ve havayollarından alınan stokların takiplerini yapabilirsiniz. Sosyal medya tarzı iletişim sağlayabilir. Pozisyon ve yük bazında zaman tüneli benzeri yapılar ile bütün süreçleri takip edebilirsiniz.</p>
              <a href="#"><img class="alignleft rounded-2" src="/assets/big_images/offermanagement.png" /></a>
              <h4>Teklif Yönetimi</h4>
              <p>SocialFreight; müşteri tekliflerini, müşteriye verilecek hizmet kalemlerine göre kolayca hazırlar, mail-fax ile teklifleri anında gönderebilir. Müşteri talebi halinde teklif ile ilgili sms bilgilendirmesi yapabilir. Teklif hazırlık aşamasında; yükün bulunduğu noktaya uzaklığı harita üzerinden hesaplayabilir, yakınında var olan aynı tarihli reservasyonlar mevcutsa görebilirsiniz. Daha sonraki süreçlerde sistemin size ortalama maliyet çıkartabilmesi için tedarikçilerden gelen fiyat tekliflerini sisteme girebilirsiniz,</p>
              <p>Daha sonra eklenecek özellikler ile SocialFreight; ülke ve yükün özelliklerine göre öneri fiyatı üretebilecektir. Teklif isteyen müşteri yetkilisi ile sistem üzerinden anlık konuşma yapabilecek, sonraki tekliflerde bu verileri kullanabileceksiniz.</p>
              <a href="#"><img class="alignright rounded-2" src="/assets/big_images/costmanagement.jpg" /></a>
              <h4>Operasyon Giderleri</h4>
              <p>SocialFreight; hava nakliye süreçlerinde, gerek gümrük, gerekse diğer konulu masrafları, ilgili konteyner veya yükler ile ilişkilendirilerek girilmesine olanak sağlar.</p>
              <p>Tasarım aşamasındaki mobil uygulamamız tamamlandığı zaman, akıllı telefonu bulunan gümrük sorumluları; herhangi bir masrafı telefonlarından girebilecekler, hatta masraf fiş görüntüsünü merkeze ilgili kayda ekleyerek merkeze gönderebileceklerdir.</p>
              <a href="#"><img class="alignleft rounded-2" src="/assets/big_images/documentmanagement.jpg" /></a>
              <h4>Belge Takibi </h4>
              <p>SocialFreight; Hava operasyon sürecinde gerekli olan MAWB, HAWB, Yükleme Talimatı, Çıkış ve Varış ihbarnameleri gibi evrakları üretmenizi sağlar, elektronik ortamda müşteriler ve acentalarınıza bu belgeleri paylaşabilirsiniz. Evraklar operasyon ile ilişkilendirileceği için dosya kapama ve arşivleme işlemlerinizi daha kolay yapabilirsiniz.</p>
            </li>
          </ul>
        </div>
      </div>
      <%#= render 'shared/site_comments' %>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>
<script type="text/javascript">document.getElementById('services').classList.add('active');</script>
