<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span12">
      <div class="page-content span12">
        <ul class="blog-articles-list">
          <li class="blog-article clearfix">
            <div class="article-thumb">
              <a href="single-blog.html"><img src="/assets/big_images/socialfreight.jpg" alt="" /></a>
              <a class="article-title" href="single-blog.html">SocialFreight</a>
            </div>
            <div class="article-meta clearfix">
              <span class="article-comments"><a class="article-comment" href="single-blog.html">SocialFreight</a></span>
              <!--span class="article-date"><a href="single-blog.html">By Dany Duchaine</a> |  on <a href="single-blog.html">December 9th, 2011</a></span-->
            </div>
            <div class="article-excerpt">
              <p>SocialFreight Kara Nakliye uygulaması; 3PL, Freight Forwarder, Ulusal Dağıtım firmaları ve diğer özmal-kiralık araçları ile taşıma yapan firmalar için, kara nakliye süreçlerinin tamamını kapsayacak şekilde tasarlanmıştır. Ayrıca yakın zamanda eklenecek yeni özellikler sayesinde araç takip sistemleri ve gümrük sistemleri gibi harici sistemler ile entegrasyonu sağlanacaktır.</p>
              <a href="single-blog.html"><img class="alignright rounded-2" src="img/faruk/datasecurity.png" alt="" /></a>
              <h3>Veri Güvenliği</h3> 
              <p>SocialFreight olarak; en öncelikli konumuz, her zaman müşteri verisi olacaktır. Bu verinin güvenliği için gerek uygulama içinde, gerekse uygulamanın çalıştığı bulut teknolojisine özel bir çok teknoloji ve servis kullanılmaktadır. Bütün veri iletişimleri SSL güvenliği ile korunmaktadır. Girilen bütün bilgiler müşteriye özel olup, başka kimse bu verilere erişemez. Her kullanıcı için statik IP kontrolleri mevcuttur, yani kullanıcının farklı bir IP adresinden erişim yapabilmesi için onay gerekmektedir.</p>
              <p><a href="guvenlik.html">SocialFreight güvenlik</a> sayfasını inceleyerek, bu konuda daha detaylı bilgi edinebilirsiniz.</p>
              <a href="single-blog.html"><img class="alignleft rounded-2" src="img/faruk/cloudserver.jpg" alt="" /></a>
              <h3>Server ve yedekleme derdine son</h3>
              <p>SocialFreight; sizleri server, yedekleme cihazları, ve bu cihazların bakımı gibi birçok maliyetten kurtarır. Kendi lokalinizde bulunan server'larda büyük maliyetler yaparak oluşturabileceğiniz güvenli uygulamayı size sunmaktadır. Ayrıca aylık veya yıllık ödediğiniz bakım ve lisans ücretleri gibi ekstra maliyetlere katlanmak zorunda kalmazsınız.</p>
              <p>Verileriniz günlük olarak yedeklenir ve her ay bu dosyalar size iletilir.</p>
              <a href="single-blog.html"><img class="alignright rounded-2" src="img/faruk/cloudprivacy.jpg" alt="" /></a>
              <h3>Privacy</h3>
              <p>SocialFreight; gerek uluslararası seferlerde, gerekse yurtiçi dahili taşımalarda sürücüye verilen avans ve sürücünün yapmış olduğu masrafları takip etmenize olanak sağlar. Sefer süresince alınan ve harcanan yakıt bilgilerini takip edebilirsiniz.</p>
              <p>Tasarım aşamasındaki mobil uygulamamız tamamlandığı zaman, akıllı telefonu bulunan sürücüler; herhangi bir otoyol, köprü veya yemek, otel gibi masraflarına ait bilgileri telefonlarından girebilecekler, hatta masraf fiş görüntüsünü merkeze ilgili kayda ekleyerek merkeze gönderebileceklerdir. Aynı şekilde gümrükte işlem yapan kullanıcılarda operasyonlara masrafları anında girebileceklerdir.</p>
              <a href="single-blog.html"><img class="alignleft rounded-2" src="img/faruk/multimodal.jpg" alt="" /></a>
              <h3>Multimodal </h3>
              <p>SocialFreight; Kara operasyon sürecinde gerekli olan CMR, Yükleme Talimat, Çıkış ve Varış ihbarnameleri gibi evrakları üretmenizi sağlar, elektronik ortamda müşteriler ve acentalarınıza bu belgeleri paylaşabilirsiniz. Evraklar operasyon ile ilişkilendirileceği için dosya kapama ve arşivleme işlemlerinizi daha kolay yapabilirsiniz.</p>
              <p>Ayrıca uluslararası taşımalarda gerekli olan, sürücü ve araç belgelerini takip edebilirsiniz. Süreli evrakların zaman aşımlarında sistem uyarı verecektir. Ayrıca tır karnesi ve dozvola gibi belgelerinizi takip edebilirsiniz.</p>
              <a href="single-blog.html"><img class="alignright rounded-2" src="img/faruk/cloudeconomic.jpg" alt="" /></a>
              <h3>Ekonomik</h3>
              <p>SocialFreight; Kara operasyon sürecinde gerekli olan CMR, Yükleme Talimat, Çıkış ve Varış ihbarnameleri gibi evrakları üretmenizi sağlar, elektronik ortamda müşteriler ve acentalarınıza bu belgeleri paylaşabilirsiniz. Evraklar operasyon ile ilişkilendirileceği için dosya kapama ve arşivleme işlemlerinizi daha kolay yapabilirsiniz.</p>
              <p>Ayrıca uluslararası taşımalarda gerekli olan, sürücü ve araç belgelerini takip edebilirsiniz. Süreli evrakların zaman aşımlarında sistem uyarı verecektir. Ayrıca tır karnesi ve dozvola gibi belgelerinizi takip edebilirsiniz.</p>
              <a href="single-blog.html"><img class="alignleft rounded-2" src="img/faruk/socialapps.jpg" alt="" /></a>
              <h3>Sosyal</h3>
              <p>SocialFreight; Kara operasyon sürecinde gerekli olan CMR, Yükleme Talimat, Çıkış ve Varış ihbarnameleri gibi evrakları üretmenizi sağlar, elektronik ortamda müşteriler ve acentalarınıza bu belgeleri paylaşabilirsiniz. Evraklar operasyon ile ilişkilendirileceği için dosya kapama ve arşivleme işlemlerinizi daha kolay yapabilirsiniz.</p>
              <p>Ayrıca uluslararası taşımalarda gerekli olan, sürücü ve araç belgelerini takip edebilirsiniz. Süreli evrakların zaman aşımlarında sistem uyarı verecektir. Ayrıca tır karnesi ve dozvola gibi belgelerinizi takip edebilirsiniz.</p>
            </div>
          </li>
        </ul>
      </div>
      <%= render 'shared/site_comments' %>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>

