<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span9">
      <div class="page-content">
            <!--div class="article-thumb">
              <a href="single-blog.html"><img src="/assets/big_images/socialfreight.jpg" alt="" /></a>
              <span>SocialFreight</span>
            </div-->
        <div class="features">
          <h3>SocialFreight Farkı</h3>
          <ul class="blog-articles-list">
            <li class="blog-article clearfix">
              <div id="noheadache">
                <h4>Donanım ve Yazılım dertlerine son</h4>
                <p>SocialFreight, temel olarak <a href="http://en.wikipedia.org/cloud_computing" target="_blank">Cloud Computing</a> mimari ile çalışan bir servis olduğu için, sizin ayrıca bir server gibi donanım maliyetleri ve yazılım lisansı gibi maliyetleriniz olmayacaktır.<br/>Yine belirli aralıklarla yapılması gereken yazılım güncellemeleri gibi işlemler de olmayacaktır, her daim en güncel sistemi kullanıyor olacaksınız.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="multimodal">
                <h4>Multimodal Tasarlanmış Süreçler</h4>
                <p>SocialFreight, bütün operasyonel süreçleri multimodal yapıda tasarlanmıştır. Dolayısı ile tek bir taşıma projesi altında Dorse taşıması, RORO taşıması, Tren taşıması gibi süreçleri yönetebilirsiniz. Bu işlemler için ayrı ayrı yükler oluşturmanıza gerek yoktur. Yine Hava taşıması ve Tren taşıması şeklinde yapılan Air+Rail taşımalarınızıda tek bir proje altında takip edebilirsiniz.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="social">
                <h4>Sosyal İletişim</h4>
                <p>SocialFreight ile bütün öğeler üzerinde sosyal medya tarzı bildirim ve yorumlar eklemek mümkündür. Örneğin bir yük üzerine bütün konuşmalar girilebilir, böylece şirket içi mail kullanımı ciddi oranda azalacaktır. Yine dosya kapamalarında bütün bu maillerin yazıdırılması gibi gereksiz kağıt tüketimine gerek olmayacaktır. Ayrıca gerek yükleriniz gerekse taşıma süreçlerinin yönetildiği projeleriniz sosyaldir, uygulama içinde sadece çalışanlarınız göreceği şekilde tweet atabilir, uyarıcı mesajlar gönderebilir.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="mobil">
                <h4>Erişim Kolaylığı</h4>
                <p>SocialFreight ile; şirket bilgilerini internetin olduğu her yerden erişebilirsiniz. Gerek bilgisayarınızdan, gerekse tablet ve akıllı telefonlardan uygulamaya erişebilir ve raporlarınızı güncel olarak görebilirsiniz.<br/>Yakın zamanda tamamlacak mobil uygulamalar ile akıllı telefonlar ve table bilgisayarlara özel ekran kullanımları ile mobil kullanım daha kolay hale gelecektir.</p>
                <!--p>Tasarım aşamasındaki mobil uygulamamız tamamlandığı zaman, akıllı telefonu bulunan sürücüler; herhangi bir otoyol, köprü veya yemek, otel gibi masraflarına ait bilgileri telefonlarından girebilecekler, hatta masraf fiş görüntüsünü merkeze ilgili kayda ekleyerek merkeze gönderebileceklerdir. Aynı şekilde gümrükte işlem yapan kullanıcılarda operasyonlara masrafları anında girebileceklerdir.</p-->
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="multilanguage">
                <h4>Çoklu Dil Desteği</h4>
                <p>SocialFreight mevcutta; ingilizce ve türkçe olan dil sayısı yakın zamanda farklı dillere de uyarlanarak, çok farklı ülkelerdeki şubelerinizde çalışan personelinizin ana dilinde kullanabileceği bir uygulama olacaktır.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <%#= render 'shared/site_comments' %>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>
<script type="text/javascript">document.getElementById('features').classList.add('active');</script>
