<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span9">
      <div class="page-content">
        <ul class="blog-articles-list">
          <li class="blog-article clearfix">
            <div class="article-thumb">
              <a href="single-blog.html"><img src="/assets/big_images/slider-img-4.jpg" alt="" /></a>
              <a class="article-title" href="single-blog.html">SocialFreight Demiryolu Operasyon</a>
            </div>
            <div class="article-meta clearfix">
              <span class="article-comments"><a class="article-comment" href="single-blog.html">Demiryolu Taşımacılığı</a></span>
              <!--span class="article-date"><a href="single-blog.html">By Dany Duchaine</a> |  on <a href="single-blog.html">December 9th, 2011</a></span-->
            </div>
            <div class="article-excerpt">
              <p>SocialFreight Demiryolu Nakliye uygulaması; demiryolu ile kargo taşımacılığı yapan firmaları için, demiryolu nakliye süreçlerinin tamamını kapsayacak şekilde tasarlanmıştır. Gerek yurtiçi, gerekse uluslararası multimodal taşımalara uygun olarak yüklerin bütün süreçlerini detaylı olarak takip etmenize olanak sağlar.</p>
              <a href="single-blog.html"><img class="alignright rounded-2" src="/assets/big_images/railcargo.jpg" alt="" /></a>
              <h3>Demiryolu Operasyon Yönetimi</h3> 
              <p>SocialFreight; Demiryolu taşımacılığı süreçlerin takibi için tasarlanmıştır. Gerek ön taşıma, gerekse son taşıma işlemlerini kolayca takip edebilirsiniz. Sosyal medya tarzı iletişim sağlayabilir. Pozisyon ve yük bazında zaman tüneli benzeri yapılar ile bütün süreçleri takip edebilirsiniz.</p>
              <a href="single-blog.html"><img class="alignleft rounded-2" src="/assets/big_images/offermanagement.png" /></a>
              <h3>Teklif Yönetimi</h3>
              <p>SocialFreight; müşteri tekliflerini, müşteriye verilecek hizmet kalemlerine göre kolayca hazırlar, mail-fax ile teklifleri anında gönderebilir. Müşteri talebi halinde teklif ile ilgili sms bilgilendirmesi yapabilir. Teklif hazırlık aşamasında; yükün bulunduğu noktaya uzaklığı harita üzerinden hesaplayabilir, yakınında var olan aynı tarihli reservasyonlar mevcutsa görebilirsiniz. Daha sonraki süreçlerde sistemin size ortalama maliyet çıkartabilmesi için tedarikçilerden gelen fiyat tekliflerini sisteme girebilirsiniz,</p>
              <p>Daha sonra eklenecek özellikler ile SocialFreight; ülke ve yükün özelliklerine göre öneri fiyatı üretebilecektir. Teklif isteyen müşteri yetkilisi ile sistem üzerinden anlık konuşma yapabilecek, sonraki tekliflerde bu verileri kullanabileceksiniz.</p>
              <a href="single-blog.html"><img class="alignright rounded-2" src="/assets/big_images/costmanagement.jpg" /></a>
              <h3>Operasyon Giderleri</h3>
              <p>SocialFreight; demiryolu nakliye süreçlerinde, gerek gümrük, gerekse diğer konulu masrafları, ilgili konteyner veya yükler ile ilişkilendirilerek girilmesine olanak sağlar.</p>
              <p>Tasarım aşamasındaki mobil uygulamamız tamamlandığı zaman, akıllı telefonu bulunan gümrük sorumluları; herhangi bir masrafı telefonlarından girebilecekler, hatta masraf fiş görüntüsünü merkeze ilgili kayda ekleyerek merkeze gönderebileceklerdir.</p>
              <a href="single-blog.html"><img class="alignleft rounded-2" src="/assets/big_images/documentmanagement.jpg" /></a>
              <h3>Belge Takibi </h3>
              <p>SocialFreight; Demiryolu operasyon sürecinde gerekli olan TNR, Yükleme Talimatı, Çıkış ve Varış ihbarnameleri gibi evrakları üretmenizi sağlar, elektronik ortamda müşteriler ve acentalarınıza bu belgeleri paylaşabilirsiniz. Evraklar operasyon ile ilişkilendirileceği için dosya kapama ve arşivleme işlemlerinizi daha kolay yapabilirsiniz.</p>
            </div>
          </li>
        </ul>
      </div>
      <%#= render 'shared/site_comments' %>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>
<script type="text/javascript">document.getElementById('services').classList.add('active');</script>
