<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span12">
      <div class="page-content span12">
        <ul class="blog-articles-list">
          <li class="blog-article clearfix">
            <div class="article-thumb">
              <a href="single-blog.html"><img src="/assets/big_images/slider-img-1.jpg" alt="" /></a>
              <a class="article-title" href="single-blog.html">SocialFreight Kara Operasyon</a>
            </div>
            <div class="article-meta clearfix">
              <span class="article-comments"><a class="article-comment" href="single-blog.html">Uluslararası Kara Taşımacılığı</a></span>
              <!--span class="article-date"><a href="single-blog.html">By Dany Duchaine</a> |  on <a href="single-blog.html">December 9th, 2011</a></span-->
            </div>
            <div class="article-excerpt">
              <p>SocialFreight Kara Nakliye uygulaması; 3PL, Freight Forwarder, Ulusal Dağıtım firmaları ve diğer özmal-kiralık araçları ile taşıma yapan firmalar için, kara nakliye süreçlerinin tamamını kapsayacak şekilde tasarlanmıştır. Ayrıca yakın zamanda eklenecek yeni özellikler sayesinde araç takip sistemleri ve gümrük sistemleri gibi harici sistemler ile entegrasyonu sağlanacaktır.</p>
              <a href="single-blog.html"><img class="alignright rounded-2" src="/assets/big_images/roadcargo.jpg" /></a>
              <h3>Kara Operasyon Yönetimi</h3> 
              <p>SocialFreight; Parsiyel ve komple araç taşımacılığı süreçlerin takibi için tasarlanmıştır. Harita üzerinde reservasyonları listelenmesi, yüklerin bulundukları noktalara göre daha kolay araç planlaması yapabilabilmesi gibi güncel teknolojileri kullanımınıza sunar. Sürücü ve ilişkili firmalar ile SMS ile bilgilendirme yapabilir, Sosyal medya tarzı iletişim sağlayabilir. Pozisyon ve yük bazında zaman tüneli benzeri yapılar ile bütün süreçleri takip edebilirsiniz.</p>
              <p>Yakın zamanda yapılacak araç takip sistem entegrasyonları ile, farklı araç takip sistemlerinden bile araçların yerlerini harita üzerinde tespit edebilecek, hatta araç takip sistemi kullanan kiralık araçların yerlerini de, yetki dahilinde ise görebileceksiniz.</p>
              <a href="single-blog.html"><img class="alignleft rounded-2" src="/assets/big_images/offermanagement.png" /></a>
              <h3>Teklif Yönetimi</h3>
              <p>SocialFreight; müşteri tekliflerini, müşteriye verilecek hizmet kalemlerine göre kolayca hazırlar, mail-fax ile teklifleri anında gönderebilir. Müşteri talebi halinde teklif ile ilgili sms bilgilendirmesi yapabilir. Teklif hazırlık aşamasında; yükün bulunduğu noktaya uzaklığı harita üzerinden hesaplayabilir, yakınında var olan aynı tarihli reservasyonlar mevcutsa görebilirsiniz. Daha sonraki süreçlerde sistemin size ortalama maliyet çıkartabilmesi için tedarikçilerden gelen fiyat tekliflerini sisteme girebilirsiniz,</p>
              <p>Daha sonra eklenecek özellikler ile SocialFreight; ülke ve yükün özelliklerine göre öneri fiyatı üretebilecektir. Teklif isteyen müşteri yetkilisi ile sistem üzerinden anlık konuşma yapabilecek, sonraki tekliflerde bu verileri kullanabileceksiniz.</p>
              <a href="single-blog.html"><img class="alignright rounded-2" src="/assets/big_images/costmanagement.jpg" /></a>
              <h3>Sürücü Hesaplaşmaları</h3>
              <p>SocialFreight; gerek uluslararası seferlerde, gerekse yurtiçi dahili taşımalarda sürücüye verilen avans ve sürücünün yapmış olduğu masrafları takip etmenize olanak sağlar. Sefer süresince alınan ve harcanan yakıt bilgilerini takip edebilirsiniz.</p>
              <p>Tasarım aşamasındaki mobil uygulamamız tamamlandığı zaman, akıllı telefonu bulunan sürücüler; herhangi bir otoyol, köprü veya yemek, otel gibi masraflarına ait bilgileri telefonlarından girebilecekler, hatta masraf fiş görüntüsünü merkeze ilgili kayda ekleyerek merkeze gönderebileceklerdir. Aynı şekilde gümrükte işlem yapan kullanıcılarda operasyonlara masrafları anında girebileceklerdir.</p>
              <a href="single-blog.html"><img class="alignleft rounded-2" src="/assets/big_images/documentmanagement5.jpg" /></a>
              <h3>Belge Takibi </h3>
              <p>SocialFreight; Kara operasyon sürecinde gerekli olan CMR, Yükleme Talimat, Çıkış ve Varış ihbarnameleri gibi evrakları üretmenizi sağlar, elektronik ortamda müşteriler ve acentalarınıza bu belgeleri paylaşabilirsiniz. Evraklar operasyon ile ilişkilendirileceği için dosya kapama ve arşivleme işlemlerinizi daha kolay yapabilirsiniz.</p>
              <p>Ayrıca uluslararası taşımalarda gerekli olan, sürücü ve araç belgelerini takip edebilirsiniz. Süreli evrakların zaman aşımlarında sistem uyarı verecektir. Ayrıca tır karnesi ve dozvola gibi belgelerinizi takip edebilirsiniz.</p>
            </div>
          </li>
        </ul>
      </div>
      <%= render 'shared/site_comments' %>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>
<script type="text/javascript">document.getElementById('services').classList.add('active');</script>
