<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span9">
      <div class="page-content">
            <!--div class="article-thumb">
              <a href="single-blog.html"><img src="/assets/big_images/socialfreight.jpg" alt="" /></a>
              <span>SocialFreight</span>
            </div-->
        <div class="features">
          <h3>Planlanan Servisler</h3>
          <ul class="blog-articles-list">
            <li class="blog-article clearfix">
              <div id="depot">
                <h4>Antrepo Yönetimi</h4>
                <p>Antrepo Servisi ile; antrepolarınıza yük giriş ve çıkışlarını yönetebilir, müşterilerinize özel tarifelerinizi takip edebilirsiniz. Tarifelere göre fatura kalemlerini sistemde hesaplatabilirsiniz. Bütün yük giriş ve çıkışları ile antreponuzda ki yüklerin raporlarını alabilirsiniz.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="finance">
                <h4>Finans Yönetimi</h4>
                <p>Finans yönetimi ile müşteri ve tedarikçi faturalarınızı, tahsilat ve ödemelerini takip edebileceksiniz. Yine yurtdışı acentalar ile ilgili Debit ve Credit note belgelerinizi takip edebileceksiniz. Nakit kasa işlemleri, Banka işlemleri, Çek işlemleri ve kredi kartı işlemlerini yönetebilir, dönemsel ödemeleriniz takip edebilirsiniz. Detaylı bilgi için Finans Yönetimi sayfası inceleyebilirsiniz.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="mobil">
                <h4>Mobil Uygulamalar</h4>
                <p>SocialFreight mobil uygulaması ile, tablet ve akıllı telefonlara özel ekranlarda operasyonel raporlarınızı alabileceksiniz, operasyonlar ile ilgili çalışma arkadaşlarınızla hızlı iletişim kurabileceksiniz, aktivitelerinizi ve görevlerinizi yönetebileceksiniz.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="navigation">
                <h4>Araç Takip Sistemleri Entegrasyonu</h4>
                <p>SocialFreight araç takip entegrasyonu ile; hangi firmanın navigasyon hizmetini kullanıyor olursanız olun, ilgili ürünün webservis entegrasyonu varsa araçlarınız hareketlerini doğrudan socialfreight üzerinden takip edebilirsiniz, ayrıca başka bir uygulamaya giriş yapmanıza gerek olmayacaktır.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="maps">
                <h4>Harita Servisleri Entegrasyonu</h4>
                <p>SocialFreight mevcutta farklı adreslere göre farklı servisler ile entegre olarak çalışmakta, yüklerinize ait yükleme ve boşaltma yerlerini harita üzerinde görebilirsiniz. Araç takip sistemleri ile entegrasyon tamamlandığı durumda yüklerinizin ve boş araçlarınız yerlerini harita üzerinde görebilir, kolaylıkla planlama yapabileceksiniz.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="fuel">
                <h4>Yakıt Yönetimi</h4>
                <p>Yakıt Yönetim Servisi ile; eğer tesisinizde yakıt deposu varsa, bu depolardan hangi çekici ve araçlara yakıt verildiğini yönetebilirsiniz. Depoya yakıt girişlerini görebilir, hangi depoda ne kadar yakıt kaldığını yönetebilirsiniz. Depo seviyesi belirli bir miktarın altına inmişse sistem size uyarı verebilecektir.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>
<script type="text/javascript">document.getElementById('roadmap').classList.add('active');</script>
