<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span9">
      <div class="page-content">
        <div class="article-thumb">
          <a href="single-blog.html"><img src="/assets/big_images/slider-img-1.jpg" alt="" /></a>
          <a class="article-title" href="#">SocialFreight Kara Operasyon</a>
        </div>
        <div class="features">
          <ul class="blog-articles-list">
            <li class="blog-article clearfix">
              <p>SocialFreight Kara Nakliye uygulaması; 3PL, Freight Forwarder, Ulusal Dağıtım firmaları ve diğer özmal-kiralık araçları ile taşıma yapan firmalar için, kara nakliye süreçlerini yönetebilmelerini sağlayacak şekilde tasarlanmıştır.</p>
              <h4>Kara Operasyon Yönetimi</h4> 
              <p>Kara Operasyon servisi ile Parsiyel ve komple(FTL) yüklerinizi takip edebilirsiniz. Yüklerlerin taşınmasında, dorse ve çekici seferlerini yönetebilirsiniz. Multimodal tasarımı sayesinde dorselerinizin RORO süreçleri ile Tren ile taşıma süreçlerini detaylı takip edebilirsiniz.</p>
              <a href="#"><img class="alignleft rounded-2" src="/assets/big_images/offermanagement.png" /></a>
              <h4>Teklif Yönetimi</h4>
              <p>Müşterilerinizden gelen fiyat tekliflerini yönetebilir, teklif süreçlerini, kabul edilen veya edilmeyen teklifleri raporlayabilirsiniz. Tekliflerinizin müşterilerinize online olarak mail veya fax ile gönderebilirsiniz.</p><p>Tedarikçi fiyat tekliflerinizi de sistemde yönetebilirsiniz.</p>
              <a href="#"><img class="alignright rounded-2" src="/assets/big_images/costmanagement.jpg" /></a>
              <h4>Sürücü Hesaplaşmaları</h4>
              <p>SocialFreight; gerek uluslararası seferlerde, gerekse yurtiçi dahili taşımalarda sürücüye verilen avans ve sürücünün yapmış olduğu masrafları takip etmenize olanak sağlar. Sürücülerin sefer öncesinde aldıkları avansları görebilir, Sefer süresince alınan ve harcanan yakıt bilgilerini takip edebilirsiniz.</p>
              <a href="#"><img class="alignleft rounded-2" src="/assets/big_images/documentmanagement.jpg" /></a>
              <h4>Belge Takibi </h4>
              <p>Kara operasyon sürecinde kullanılan; CMR, Yükleme Talimatı, Avis, Çıkış ve Varış ihbarnameleri ile Tır karnesi ve dozvola gibi evrakları ilgili taşıma projeleri ile ilişkili olarak arşivleyebilirsiniz. Müşterileriniz, acentalarınız ve nakliyeci firmalar ile online ortamda bu belgeleri paylaşabilirsiniz.</p><p>Evraklar ilgili operasyon kaydı ile ilişkilendirildiği için dosya kapama işlemlerinizi daha kolay yapabilirsiniz.</p>
            </li>
          </ul>
        </div>
      </div>
      <%#= render 'shared/site_comments' %>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>
<script type="text/javascript">document.getElementById('services').classList.add('active');</script>
