<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span9">
      <div class="page-content">
        <ul class="blog-articles-list">
          <li class="blog-article clearfix">
            <div class="article-thumb">
              <a href="single-blog.html"><img src="img/faruk/financemanagement.gif" alt="" /></a>
              <a class="article-title" href="single-blog.html">Finans Yönetimi</a>
            </div>
            <div class="article-meta clearfix">
              <span class="article-comments"><a class="article-comment" href="single-blog.html">92 Comments</a></span>
              <span class="article-date"><a href="single-blog.html">By Dany Duchaine</a> |  on <a href="single-blog.html">December 9th, 2011</a></span>
            </div>
            <div class="article-excerpt">
              <p>SocialFreight Finans Yönetimi, operasyonel faaliyetleriniz ile ilgili bütün gelir ve gider kalemlerinizi yönetmenize yönelik hazırlanacak bir uygulamadır.. </p>
              <p>Hey, Luke! May the Force be with you. Red Five standing by. Still, she's got a lot of spirit. I don't know, what do you think? Red Five standing by. Escape is not his plan. I must face him, alone.</p>
              <a class="small-btn blue rounded-1" href="single-blog.html">Continue Reading</a>
            </div>
          </li>
        </ul>
      </div>
      <%#= render 'shared/site_comments' %>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>
<script type="text/javascript">document.getElementById('roadmap').classList.add('active');</script>
