<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span9">
      <div class="page-content">
        <div class="features">
          <h3>Güvenlik Notları</h3>
          <ul class="blog-articles-list">
            <li class="blog-article clearfix">
              <div id="datasecurity">
                <h4>Veri Güvenliği</h4> 
                <p>Her zaman en önemli konumuz, veri güvenliğidir. SocialFreight ile verileriniz, kendi ortamınızda bulunan bilgisayarlara göre her daim daha güvenli bir ortamda saklanmaktadır. Uygulama her veri iletişimi SSL güvenliği ile korunmaktadır. Girilen bütün bilgiler müşteriye özel olup, başka kimse bu verilere erişemez.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="databackup">
                <h4>Verilerin Yedeklenmesi</h4>
                <p>SocialFreight; sizleri server, yedekleme cihazları, ve bu cihazların bakımı gibi birçok maliyetten kurtarır. Verileriniz günlük olarak yedeklenir ve aylık aralıklar ile bu yedek dosyaları size iletilir. Aynı şekilde, operasyonel dökümanlarda 5 yıl boyunca sistemde erişilebilir şekilde saklanacaktır.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <%#= render 'shared/site_comments' %>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>
<script type="text/javascript">document.getElementById('security').classList.add('active');</script>