<div class="page container clearfix">
  <div class="row">
    <div class="blog-page span9">
      <div class="page-content">
            <!--div class="article-thumb">
              <a href="single-blog.html"><img src="/assets/big_images/socialfreight.jpg" alt="" /></a>
              <span>SocialFreight</span>
            </div-->
        <div class="features">
          <h3>SocialFreight ile Yapabilecekleriniz...</h3>
          <ul class="blog-articles-list">
            <li class="blog-article clearfix">
              <div id="operation">
                <h4>Operasyon Yönetimi</h4>
                <p>SocialFreight Operasyon Yönetimi; Deniz, Hava, Kara, Demiryolu olarak farklı servisleri sunar. Bütün bu operasyonlardaki, yüklerinizi detaylı bir şekilde takip edebilirsiniz. Yükleriniz ile ilgili koli-konteyner bilgilerini, yükleme ve boşaltma bilgilerini ve operasyonel dökümanları yönetebilirsiniz. <br/>Yine gemi-uçak-tren-dorse ve çekici sefer bilgilerini detaylı bir şekilde takip edebilirsiniz.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="companies">
                <h4>Müşteri & Tedarikçi Yönetimi</h4>
                <p>SocialFreight, müşteri ve tedarikçi bilgilerinizi yönetebilirsiniz. İlgili firmalarda ki bağlantılarınız ve firma yetkili bilgilerini, Müşterileriniz ile ilgili fırsatları, operasyonel şikayetlerini, pazarlama faaliyetleri ve ziyaret, telefon görüşmesi gibi aktiviteleri takip edebilirsiniz.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="fillos">
                <h4>Filo Yönetimi</h4>
                <p>SocialFreight ile araç parkınızı ve sürücülerinizi daha etkin takip edebilirsiniz. Sürücü belgeleri, sürücü avans ve masrafları gibi işlemleri kolayca yapabilirsiniz. Araçlarınız ile ilgili süreli evrak ve avadanlıkları yönetebilirsiniz. <br/>Tesisinizde araç garajınız varsa; araçların giriş ve çıkışlarını takip edebilirsiniz.</p>
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="costs">
                <h4>Masraf Yönetimi</h4>
                <p>SocialFreight; gerek uluslararası seferlerde, gerekse yurtiçi dahili taşımalarda sürücüye verilen avans ve sürücünün yapmış olduğu masrafları takip edebilirsiniz. Yine gümrük masrafları gibi operasyonel harcamaları da aynı şekilde takip edebilirsiniz. Personele verilen operasyonel avansları, masraf formları ile takip edebilir, ilgili avans ile yapılan harcamaları görebilirsiniz.</p>
                <!--p>Tasarım aşamasındaki mobil uygulamamız tamamlandığı zaman, akıllı telefonu bulunan sürücüler; herhangi bir otoyol, köprü veya yemek, otel gibi masraflarına ait bilgileri telefonlarından girebilecekler, hatta masraf fiş görüntüsünü merkeze ilgili kayda ekleyerek merkeze gönderebileceklerdir. Aynı şekilde gümrükte işlem yapan kullanıcılarda operasyonlara masrafları anında girebileceklerdir.</p-->
              </div>
            </li>

            <li class="blog-article clearfix">
              <div id="documents">
                <h4>Döküman Yönetimi</h4>
                <p>SocialFreight; bütün operasyon süreçlerinde gerekli olan Konşimento, CMR, Yükleme Talimatı, Çıkış ve Varış ihbarnameleri gibi operasyonel evrakları, ilgili yük ve taşıma bilgisi ile ilişkili olarak arşivleyebilirsiniz. Müşteri, Tedarikçi ve acentalarınız ile bu belgeleri paylaşabilirsiniz. Dosya kapama işlemlerinizi daha kolay yapabilirsiniz.<br/>
                Ayrıca; sürücü ve araç belgeleri gibi süreli evraklar ile tır karnesi ve dozvola gibi belgeleri takip edebilirsiniz.</p>
              </div>
            </li>
          </ul>
              <!--h4>Ekonomik</h4>
              <p>SocialFreight; Kara operasyon sürecinde gerekli olan CMR, Yükleme Talimat, Çıkış ve Varış ihbarnameleri gibi evrakları üretmenizi sağlar, elektronik ortamda müşteriler ve acentalarınıza bu belgeleri paylaşabilirsiniz. Evraklar operasyon ile ilişkilendirileceği için dosya kapama ve arşivleme işlemlerinizi daha kolay yapabilirsiniz.</p>
              <p>Ayrıca uluslararası taşımalarda gerekli olan, sürücü ve araç belgelerini takip edebilirsiniz. Süreli evrakların zaman aşımlarında sistem uyarı verecektir. Ayrıca tır karnesi ve dozvola gibi belgelerinizi takip edebilirsiniz.</p>
              <a href="single-blog.html"><img class="alignleft rounded-2" src="img/faruk/socialapps.jpg" alt="" /></a>
              <h4>Sosyal</h4>
              <p>SocialFreight; Kara operasyon sürecinde gerekli olan CMR, Yükleme Talimat, Çıkış ve Varış ihbarnameleri gibi evrakları üretmenizi sağlar, elektronik ortamda müşteriler ve acentalarınıza bu belgeleri paylaşabilirsiniz. Evraklar operasyon ile ilişkilendirileceği için dosya kapama ve arşivleme işlemlerinizi daha kolay yapabilirsiniz.</p>
              <p>Ayrıca uluslararası taşımalarda gerekli olan, sürücü ve araç belgelerini takip edebilirsiniz. Süreli evrakların zaman aşımlarında sistem uyarı verecektir. Ayrıca tır karnesi ve dozvola gibi belgelerinizi takip edebilirsiniz.</p-->
        </div>
      </div>
      <%#= render 'shared/site_comments' %>
    </div>
    <%= render 'shared/site_sidebar' %>
  </div>
</div>
<script type="text/javascript">document.getElementById('services').classList.add('active');</script>
