<div id="container">

  <div class="row-fluid">
    <ul class="breadcrumb">
      <li><a href="#">Pozisyon Bilgileri</a><span class="divider">>></span></li>
      <li><a href="#">Gemi Bilgileri</a><span class="divider">>></span></li>
      <li><a href="#">Yük Bilgileri</a><span class="divider">>></span></li>
      <li class="active">Konteyner Bilgileri</li>
    </ul>
  </div>
  
  <%= render 'form' %>
</div>
