<div class="row-fluid">
  <ul class="breadcrumb">
    <li class="active"><a href="#">Yük Seçimi</a><span class="divider">>></span></li>
    <li><a href="#">Planlama Bilgileri</a><span class="divider">>></span></li>
    <li><a href="#">Güzergah Seçimi</a><span class="divider">>></span></li>
    <li><a href="#">Taşıma Bilgileri</a></li>
  </ul>
</div>