<div id="contacts_index_page" class="row-fluid">

  <%= page_header_helper(t("contacts.title.contacts"), new_contact_path, t("contacts.link.new_contact")) %>
  <%= page_intro_helper(t("contacts.message.intro")) %>

  <%= sub_header_with_search_form(t("contacts.title.last_contacs"), "contacts") %>

  <%= render "contacts/list", contacts: @contacts %>

</div>
<script type="text/javascript">
  document.getElementById('contactnavigator').classList.add('active');
</script>