<div id="documents_index_page" class="row-fluid">

  <%= page_header_helper(t("documents.defaults.page_header"), new_document_path, t("documents.defaults.new_record_label")) %>
  <%= page_intro_helper(t("documents.defaults.intro_message")) %>

  <%= sub_header_with_search_form(t("documents.defaults.last_records_title"), "documents") %>

  <%= render "documents/list", objects: @documents, is_paginated: false %>

</div>
<script type="text/javascript">
  document.getElementById('documentnavigator').classList.add('active');
</script>