<div class="row-fluid">
  <div class="span12">
    <fieldset>
      <%= f.input :name do %>
        <%= f.input_field :name, :class => "input-small" %>
        <%= f.input_field :surname, :class => "input-small" %>      
      <% end %>
      <%= f.input :email %>
    </fieldset>
  </div>
</div>

