<div class="row-fluid">
  <div class="span6">
    <fieldset>
      <%= f.input :title, :label => "Invoice Title" %>
    </fieldset>
  </div>
  <div class="span6">
    <fieldset>
      <%= f.input :sector %>
    </fieldset>
  </div>
</div>

