<div class="row-fluid">
  <fieldset>
    <legend>Fatura Bilgileri</legend>
    <div class="span6">
      <%= f.input :title %>
    </div>
    <div class="span6">
      <%= f.input :sector %>
    </div>
    <p>&nbsp;&nbsp;&nbsp;Fatura Vadesi, Kredi Limitleri Operasyon bazlı olabilir, genel bir vade veya kredi limiti olabilir.</p>

  </fieldset>
</div>

