<div id="company_docs" class="accordion-body collapse">
  <div class="accordion-inner">
    <p>Deneme işlem satırı, bakalım accordion da nasıl görünecek, bizde merak ettik doğrusu</p>
  </div>
</div>
