<div id="company_account" class="accordion-body collapse">
  <div class="pageBody accordion-inner">
    <table class="detailList" width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="labelCol2">Fatura Ünvanı :</td>
        <td class="dataCol2"></td>
        <td class="labelCol2">Vergi No & Dairesi :</td>
        <td class="dataCol2 lastCol"></td>
      </tr>
    </table>
  </div>
</div>
