<div id="company_contacts" class="accordion-body collapse">
  <div class="accordion-inner">
  <%= render @company.contacts %>
  <%= link_to "Add Contact", new_contact_path(:company_id => @company.id) %>
  </div>
</div>
