<div id="companies_index_page" class="row-fluid">

  <%= page_header_helper(t("companies.title.companies"), new_company_path, t("contacts.link.new_company")) %>
  <%= page_intro_helper(t("contacts.message.intro")) %>

  <%= sub_header_with_search_form(t("companies.title.last_companies"), "companies") %>

  <div id="companies_list" class="row-fluid">
    <%= render partial: "companies/list", locals: { objects: @companies, is_paginated: false } %>
  </div>

</div>
<script type="text/javascript">
  document.getElementById('companynavigator').classList.add('active');
</script>