<div class="row-fluid">
	<%= page_header_helper(t("companies.title.company_info")) %>
  <div class="row-fluid">
    <%= render 'profile_header' %>
  </div>
  <div class="row-fluid">
    <%= render 'profile_content' %>
  </div>
</div>
