<legend>Banka Bilgileri</legend>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :bank_id, :as => :select, :collection => [[@finunit.bank_id ? @finunit.bank.name : "", @finunit.bank_id]], :input_html => {:class => "chosen_input", "data-url" => "/companies.json"} %>
    <%= f.input :bank_branch %>
  </div>
  <div class="span6">
    <%= f.input :account %>
    <%= f.input :iban %>
  </div>
</div>
