<div class="row-fluid">
  
  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "payment", parent: @payoff, objects: @payoff.payments %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "cost", parent: @payoff, objects: @payoff.costs %>
  </div>

  <div class="row-fluid profile-section">
    <%#= render "shared/related_list", list_model: "fuel", parent: @payoff, objects: @payoff.fuels %>
  </div>

</div>