<div id="profile-header" class="profile-content">
  <table class="outer" width="100%" id="headerTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="span2 noborder">
        <div id="profile-picture" class="loading">
          <%#= user_small_avatar(payoff.staff) %>
        </div>
      </td>
      <td>
        <%= render 'profile_detail', payoff: payoff %>
      </td>
    </tr>
  </table>
</div>
