<div id="payoffs_index_page" class="row-fluid">

  <%= page_header_helper(t("payoffs.defaults.page_header"), new_payoff_path, t("payoffs.defaults.new_record_label")) %>
  <%= page_intro_helper(t("payoffs.defaults.intro_message")) %>

  <%= sub_header_with_search_form(t("payoffs.defaults.last_records_title"), "payoffs") %>

  <%= render "payoffs/list", payoffs: @payoffs, is_paginated: false %>

</div>
<script type="text/javascript">
  document.getElementById('payoffnavigator').classList.add('active');
</script>