<p>
Hi; 
</p>
<p>
You have a message from <strong><%= @feedback.name %></strong>.
</p>
<br>
<br>
<strong>Message Content:</strong>
<br>
<p style="white-space:pre-wrap">
  <%= @feedback.msg %>
</p>
<br>
<br>
<br>
<p>
You can answer this message to <strong><%= mail_to @feedback.email, @feedback.email %></strong>
</p>
<br>
<br>
<br>
SocialFreight.com<br>
İstanbul, Türkiye
</p>