<div class="row-fluid">
<h4>Feedback List</h4>
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Mail</th>
    <th>Message</th>
    <th>Patron</th>
    <th/>
  </tr>
  <%= render @feedbacks %>

</table>
</div>


