<div class="row">
<h3>Listing feedbacks</h3>
<span class="rightside"><%= link_to 'New Feedback', new_feedback_path, :class => "btn primary" %></span>
<table>
  <tr>
    <th>Name</th>
    <th>Mail</th>
    <th>Message</th>
    <th/>
    <th/>
  </tr>
  <%= render @feedbacks %>

</table>
</div>


