<div id="report-results">
  <%= render 'searches/companies_form' %>
  <div class="page-header">
    <h4>Firma Listesi
    	<small><%= sanitize page_entries_info @companies %></small>
	  	<small class="pull-right">
	  		<a href="#" class="saveascsv" data-table="company_report_results">Excele Aktar</a>
	  	</small>
    </h4>
  </div>

  <div class="row-fluid">
    <%= render 'companies/list', objects: @companies, is_paginated: true %>
  </div>
</div>