<div id="reservations_list">
  <table class="table table-striped table-bordered table-condensed" style="width:1000px;">
    <tr>
      <th class="span1"/>
      <th class="span3">Referans</th>
      <th class="span2">Direction</th>
      <th class="span4">Müşteri</th>
      <th class="span4">Çıkış Yeri</th>
      <th class="span2">Çıkış Tarihi</th>
      <th class="span4">Varış Yeri</th>
      <th class="span2">Varış Tarihi</th>
      <th class="span4">Mal Detayı</th>
      <th class="span2">Navlun</th>
    </tr>
    <% for reserv in reservations %>
      <%= render 'reservation', :reservation => reserv %>
    <% end %>
  </table>
  
  <div class="rightside">
    <%= button_tag "Create Position & Connect", :type => :button, :disable_with => "Please wait.", :class => "btn primary planbutton", :id => "create_plan_position" %>
    <%= button_tag "Select Position & Connect", :type => :button, :disable_with => "Please wait.", :class => "btn primary planbutton togglebutton", :id => "select_plan_position", "data-href" => "#positions_for_plannig" %>
  </div>

  <div id="positions_for_plannig" class="slidingDiv row">
    <div class="span16 columns">
      <%= render 'positions', :positions => @search.positions %>
    </div>
  </div>

</div>
