<div id="report-results">
  <%= render 'searches/vehicles_form' %>
  <div class="page-header">
    <h4>Araç Listesi
    	<small><%= sanitize page_entries_info @vehicles %></small>
	  	<small class="pull-right">
	  		<a href="#" class="saveascsv" data-table="contact_report_results">Excele Aktar</a>
	  	</small>
    </h4>
  </div>

  <div class="row-fluid">
    <%= render 'vehicles/related_list', :objects => @vehicles %>
  </div>

  <div class="row-fluid">
    <%= paginate @vehicles %>
  </div>
</div>