<div id="planning">

  <div id="reservations">
    <%= render 'searches/reservation_form' %>
    <%# if @search.searched? %>
      <%#= render 'reservations', :reservations => @search.reservations %>
    <%# end %>
  </div>

</div>
