<div id="planning" class="row">

  <div id="reservations" class="row">
    <%= render 'searches/reservation_form' %>
    <%# if @search.searched? %>
      <%#= render 'reservations', :reservations => @search.reservations %>
    <%# end %>
  </div>

</div>
