<div class="row-fluid">
  <div class="span6">
    <%= simple_form_for [todop, Todolist.new], html: { class: 'form-search' }, remote: true do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, placeholder: t("defaults.link.new_comment"), class: "input-block-level", label: false %>
      <%= f.submit(t("defaults.action.share"), class: 'btn btn-info') %>
    <% end %>    
  </div>
</div>