<div id="countries" class="row-fluid">

  <div id="profile-header" class="profile-content row-fluid">
    <div class="span1">
      <%= image_tag("/assets/finance.png") %>
    </div>
    <div class="span11">
      <h5>Ülkeler</h5>
    </div>
  </div>

  <div class="row-fluid">

    <legend>Ülkeler<small class="pull-right"><%= link_to "+ Ülke Ekle", new_country_path %></small></legend>
    
    <div id="countries_list" class="row-fluid">
      <table class="table table-condensed">
        <tr>
          <th>Kod</th>
          <th>Ülke Adı</th>
          <th>Tel.Kod</th>
          <th>Locale</th>
          <th>Varsayılan Dil</th>
          <th>Zaman Dilimi</th>
          <th>Encoding</th>
          <th></th>
        </tr>
        <%= render @countries %>
      </table>
    </div>

  </div>

</div>