<div class="row-fluid">
<h3>Country List</h3>
<span class="rightside"><%= link_to 'New Country', new_country_path, :class => "btn primary" %></span>
<table class="table table-stripped">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th/>
    <th/>
  </tr>
  <%= render @countries %>

</table>
    <div class="span6">
      <%#= gmaps4rails(@json) %>
    </div>
</div>


