<div class="row-fluid">
	<%= link_to user_small_avatar(current_user), main_app.user_path(current_user), class: "pull-left" %>
  <%= form_for [object, Post.new], remote: true, html: {class: "condensed-form"} do |f| %>
    <%= render "posts/fields", f: f %>
  <% end %>
</div>