<div class="row-fluid">
  <%= form_for Post.new, remote: true do |f| %>
    <%= f.text_area :message, class: "span12", rows: "2", placeholder: "Mesajınız" %>
    <!--h6 class="pull-right">Type your message</h6-->
    <%= f.submit("Mesajı Gönder", class: 'btn btn-info pull-right') %>
  <% end %>
</div>