<div class="row-fluid">
  <%= form_for Post.new, remote: true, html: { class: "form-horizontal" } do |f| %>
    <div class="row-fluid">
      <%= label_tag :message, "Mesajınız :", class: "control-label" %>
      <div class="input-append">
        <%= f.text_field :message, :class => "input-xlarge" %>
        <%= f.submit("Paylaş", :class => 'btn btn-info') %>
      </div>
    </div>
  <% end %>
</div>
