<div class="row-fluid">
  <%= form_for Post.new, :remote => true, :class => "form-inline" do |f| %>
    <div class="row-fluid">
    <%#= f.error_notification %>
    <%= label_tag :message, "Mesajınız :" %>
    <%= f.text_field :message, :class => "input-xlarge" %>
    <%= f.submit("Paylaş", :class => 'btn btn-info') %>
     </div>
  <% end %>
</div>
