<div id="setup_address">
  
  <div class="row-fluid">
    <ul class="breadcrumb">
      <li class="active">Firma Bilgileri<span class="divider">>></span></li>
      <!--li><a href="#">Sektörel Bilgileri</a><span class="divider">>></span></li>
      <li><a href="#">Referans Numaraları</a><span class="divider">>></span></li-->
      <li><a href="#">Şube Bilgileri</a><span class="divider">>></span></li>
      <li><a href="#">Kullanıcı Bilgileri</a></li>
    </ul>
  </div>

  <div class="row-fluid">
    <%= render "patrons/form_edit" %>
  </div>

</div>