<div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span10">
  	<div class="row-fluid">
  		<h5>Merhaba, </h5>
  		<p>Åimdi </p>
  	</div>
    <div class="form-actions">
      <%= link_to "Firma Bilgilerine Devam Et", next_wizard_path, class: 'btn btn-danger' %>
    </div>
  </div>

</div>