<div id="vehicle-header" class="profile-content">
  <table class="outer" width="100%" id="headerTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="span1">
        <div id="vehicle-picture" class="position">
          <%#= image_tag("#{@vehicle.vehicle_class}.png") %>
        </div>
      </td>
      <td style="vertical-align:top">
        <%= render "profile_detail", vehicle: @vehicle %>
      </td>
    </tr>
  </table>
</div>