<div class="row">
<h3>Vehicle List</h3>
<span class="rightside"><%= link_to 'New Vehicle', new_vehicle_path, :class => "btn primary" %></span>
<table>
  <tr>
    <th>Plate</th>
    <th>Type</th>
    <th>Brand/Model/Year</th>
    <th>Country</th>
    <th>Ownership</th>
    <th>Price</th>
    <th>Fuel Capacity&Type</th>
    <th/>
  </tr>
  <%= render @vehicles %>
</table>
</div>


