<div id="vehicles_index_page" class="row-fluid">

  <%= page_header_helper(t("vehicles.defaults.page_header"), new_vehicle_path, t("vehicles.defaults.new_record_label")) %>
  <%= page_intro_helper(t("vehicles.defaults.intro_message")) %>

  <%= sub_header_with_search_form(t("vehicles.defaults.last_records_title"), "vehicles") %>

  <%= render "vehicles/list", objects: @vehicles, is_paginated: false %>

</div>
<script type="text/javascript">
  document.getElementById('vehiclenavigator').classList.add('active');
</script>