html, body {
  margin: 0;
  padding: 0;
}
#menu {
    background-color: #DDECF3;
    display: inline;
    float: left;
    margin-left: -52px;
    margin-top: 80px;
    padding-top: 5px;
    position: fixed;
    //width: 50px;
    z-index: 1;
	list-style:none;
    -moz-transition:border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.menubaritem {
    border:1px solid #CCCCCC;
    cursor: pointer;
    height: 48px;
    margin-bottom: 5px;
    //margin-left: 4px;
    position: relative;
    width: 48px;
}
.menubaritem:hover {
    border:1px solid #AAAAAA;
}
#content {
    float: left;
    margin-top:40px;
    //padding-top:5px;
    position:relative;
}
#opform-step-bar {
    background:none repeat scroll 0 0 transparent;
    display:block;
    list-style:none outside none;
	/*margin:0;*/
    padding:0;
}
#opform-step-bar li {
    background-image:url("/assets/stepback.png");
    background-position:0 28px;
    color:#4C4D4F;
    float:left;
    font-size:1.1em;
    height:28px;
    line-height:28px;
    margin:0 0 0 -15px;
    padding-left:20px;
    position:relative;
    text-indent:9px;
    width:181px;
}
#opform-step-bar li.selected {
    background-position:0 0;
    color:white;
}
#opform-step-bar li.step-1 {
    background-image:url("/assets/step-first.png");
    padding-left:13px;
    width:167px;
    z-index:1;
}
#opform-step-bar li.step-1 {
    margin:0;
    z-index:4;
}
#opform-step-bar li.step-2 {
    z-index:3;
}
#opform-step-bar li.step-3 {
    z-index:2;
}
#opform-step-bar li.step-4 {
    z-index:1;
}
.togglebutton {
    display:none;
    position:absolute;
}
.listheader {
	display:block;
	height:30px;
	padding-bottom:5px;
}
.listheader .leftside {
	float:left;
}
.rightside {
	float:right;
}
form .span8 {
    margin-left:0px;
}
.numbers td, th {
	width :60px;
    text-align:center;
	border:1px solid #DDDDDD;
	background-color:#EDEDED;
}
.numbers td {
	height:60px;
	font-size:25px;
}
.feeds ul {
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
.feeds ul li {
	border-bottom:1px solid #D1D1D1;
    float:left;
    margin-top:5px;
    width:100%;
}
.feeds ul li a {
    border:medium none;
	text-decoration:none;
	color:#343434;
}
.feeds ul li a img {
    float:left;
    margin-right:7px;
}
.feeds h5 {
    font-size:14px;
    font-weight:normal;
    line-height:18px;
}
.feeds .source {
    text-align:right;
}
.feeds p {
	font-size:12px;
    margin-bottom:0px;
}
.uprofile {
	margin-top:5px;
	overflow:hidden;
}
.uprofile .photo {
    display:block;
    float:left;
    margin-right:5px;
}
.uprofile p{
    font-size:10.5px;
}
.post {
    margin:0;
    padding:0;
}
.post .post-actions:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}
.post .post-actions {
    color:#666666;
    font-size:12px;
    margin:3px 0 0;
    position:relative;
}
.post .post-actions #attach {
    left:0;
    position:absolute;
    top:6px;
}
fieldset span {
    padding-left:10px;
    text-align:left;
}
#profile-details td {
    font-size:11px;
}
.profile-content {
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 6px #CCCCCC;
    margin:0 0 15px;
    min-height:90px;
    padding:10px;
    overflow:hidden;
    position:relative;
}
.profile-content #overview {
    overflow:visible;
}
#overview dt {
    left:-10px;
    width:115px;
    color:#747474;
    margin:1px 0 10px;
    text-align:right;
    position:relative;
    z-index:1;
    float:left;
}
#overview dd {
    //background:url("assets/bg_grey_dotted_h-line_3x1.png") repeat-x scroll 0 100% transparent;
    overflow:hidden;
    margin-bottom:10px;
}
#overview dd.last {
    background:none repeat scroll 0 0 transparent;
    margin-bottom:-6px;
}
#overview dd:last-child {
    background:none repeat scroll 0 0 transparent;
    margin-bottom:-6px;
}
#overview ul {
    color:#555555;
    list-style-type:disc;
    margin-left:1.3em;
}
#overview ul, #overview li {
    color:#333333;
    list-style-type:none;
    margin-bottom:3px;
    margin-left:0;
}
#overview ul.current {
    font-weight:bold;
}
#overview li {
    color:#000000;
}
.resume li, .draggable li {
    font-size:13px;
}
#overview ul.current a, #overview ul.past a {
    color:#000000;
}
.profile-content h1 {
    line-height:19px;
    margin:0 0 7px;
    border:medium none;
    color:#000000;
    font-weight:bold;
    margin:0 0 4px;
    padding:0;
}
.profile-content .image {
    border:1px solid #D6D6D6;
    margin:0 16px 16px 0;
    position:relative;
    float:left;
}
.profile-content h1 #reference {
    font-family:Georgia,serif;
}
.profile-content p {
    color:#333333;
}
.profile-content p.title {
    margin:0;
}
.profile-content p.title {
    margin:0 0 6px;
}
.profile-content .dlist {
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 6px #CCCCCC;
}
.profile-content .dlist dt {
    float:left;
    width:150px;
    margin-bottom: 7px;
}
.profile-content .dlist dd {
    width:100%;
    margin-left: 4px;
    margin-bottom: 7px;
}
.profile-content .yatay-info dd {
    display:inline;
    margin:0;
    padding:0 4px 0 4px;
    border-left:1px solid #CCCCCC;
    float:none;
}
#sideview dt {
    color:#747474;
    position:relative;
    width:80px;
    float:left;
    z-index:1;
}
#sideview dd {
    width:140px;
    overflow:hidden;
    margin-bottom:10px;
}
#sideview dd.last {
    background:none repeat scroll 0 0 transparent;
}
#sideview dd:last-child {
    background:none repeat scroll 0 0 transparent;
    margin-bottom:-6px;
}
#login_form {
    border-top: 1px dotted #DDDDDD;
}
#login_form label {
    text-align:left;
}
#login_form label, #patron_form label {
    margin-right:5px;
}
#login_image {
    margin-top: 75px;
    text-align:center;
}
#login_roadmap {
    margin-top: 100px;
    text-align:center;
}
form ul li {
    list-style: none inside none;
}
form ul li {
    float:left;
}
form ul li label {
    float:none;
}
.page-header h1, h4 {
  margin-bottom: 0px;
}
.widget {
    border:1px solid #D6D6D6;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.08);
    padding:2px;
    overflow:hidden;
}
.links img {
    opacity:0.8;
}
.links img:hover {
    opacity:1;
}
.datepicker {
  background-color: #ffffff;
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
  position: absolute;
  z-index: 900;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  padding-bottom: 4px;
  width: 218px;
}
.datepicker .nav {
  font-weight: bold;
  width: 100%;
  padding: 4px 0;
  background-color: #f5f5f5;
  color: #808080;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
}
.datepicker .nav:before, .datepicker .nav:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.datepicker .nav:after {
  clear: both;
}
.datepicker .nav span {
  display: block;
  float: left;
  text-align: center;
  height: 28px;
  line-height: 28px;
  position: relative;
}
.datepicker .nav .bg {
  width: 100%;
  background-color: #fdf5d9;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .nav .fg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.datepicker .button {
  cursor: pointer;
  padding: 0 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .button:hover {
  background-color: #808080;
  color: #ffffff;
}
.datepicker .months {
  float: left;
  margin-left: 4px;
}
.datepicker .months .name {
  width: 72px;
  padding: 0;
}
.datepicker .years {
  float: right;
  margin-right: 4px;
}
.datepicker .years .name {
  width: 36px;
  padding: 0;
}
.datepicker .dow, .datepicker .days div {
  float: left;
  width: 30px;
  line-height: 25px;
  text-align: center;
}
.datepicker .dow {
  font-weight: bold;
  color: #808080;
}
.datepicker .calendar {
  padding: 4px;
}
.datepicker .days div {
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .days div:hover {
  background-color: #0064cd;
  color: #ffffff;
}
.datepicker .overlap {
  color: #bfbfbf;
}
.datepicker .today {
  background-color: #fee9cc;
}
.datepicker .selected {
  background-color: #bfbfbf;
  color: #ffffff;
}
#signupnote {
  font-size: 12px;
  border-top: 1px dotted #DDDDDD;
  padding: 20px 0 0 0;
}
.welcome_screen {
    margin-top:200px;
    margin-left:200px;
}
.welcome_screen  div{
    border:1px solid #DDDDDD;
    float:left;
    text-align:center;
    margin-left:5px;
}
.welcome_screen  p {
    font-weight:bold;
}
#sidebar {
    background-color: #444444;
    color: #FFFFFF;
    margin-top:40px;
    margin-left:0px;
}
#sidebar h3, h4 {
    color: #FFFFFF;
    margin-left:10px;
}
#sidebar a {
    color: #EEEEEE;
}
#profile-sidebar {
    float: left;
    overflow:visible;
    margin-top:20px;
}
#profile-picture {
    margin-left:10px;
}
.profile-section {
    margin-bottom:28px;
    margin-top:20px;
}
.profile-data-body {
    color:#CCCCCC;
    float:none;
    line-height:15px;
}
.profile-data-header {
    background-color:transparent;
    border-bottom:1px solid #D7DBDE;
    line-height:20px;
    margin:0 0 7px;
    position:relative;
}
.profile-data-section {
    padding-bottom:4px;
    position:relative;
    text-align:left;
    height:25px;
}
.profile-data-section  img {
    margin-right:5px;
    margin-left:5px;
}
.profile-data-section  a, span {
    vertical-align:super;
}

#rightbar {
    margin-top:20px;
    margin-bottom:0px;
    width:200px;
}
.box {
    margin-bottom:15px;
    margin-top:20px;
}
.todoList {
    background:url("/assets/todoBack.png") repeat-x scroll 0 0 #FFE5A7;
    border:2px solid #FFFFFF;
    border-radius:5px 5px 5px 5px;
    box-shadow:0 1px 6px #CCCCCC;
    margin-left:2px;
    margin-right:4px;
    padding-bottom:6px;
    padding-top:3px;
}
.userProfilePage .todoListBoxContents {
    margin-top:4px;
}
.todoListHeader {
    border-bottom:1px solid #D7DBDE;
    padding-bottom:10px;
    padding-left:10px;
    padding-top:8px;
    font-weight:bold;
}
.todoListContents ol {
    margin-top:0;
}
.listClass {
    list-style-position:outside;
    margin-bottom:0;
    margin-left:1px;
    padding-bottom:1px;
    padding-left:6px;
    padding-top:3px;
}
.todoListContents ol li {
    margin-right:0;
}
.incompleteClass {
    line-height:21px;
    list-style:disc outside url("/img/chatter/wtdn_bullet.png");
    margin-left:1em;
    padding-left:0;
    text-decoration:none;
    vertical-align:middle;
}
.incompleteClass a {
    color:#015BA7;
    margin-left:0;
    padding-left:0;
    vertical-align:middle;
}
.profile {
    background:url("/assets/feedbg.png") repeat-x scroll left -40px #FFFFFF;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.publishercontainer {
    -moz-border-bottom-colors:none;
    -moz-border-image:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none;
    background:url("/assets/cloud.png") no-repeat scroll right top transparent;
    border-color:-moz-use-text-color -moz-use-text-color #E6E6E6;
    border-style:none none solid;
    border-width:0 0 1px;
    line-height:normal;
    margin-bottom:5px;
    max-width:640px;
    min-height:75px;
    overflow:visible;
    padding:10px;
    position:relative;
}
.justhead {
    background-color: #DDECF3;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}
label abbr {
    background-color: #CC0000;
    bottom: 1px;
    top: 1px;
    width: 3px;
    height:10px;
}
