// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task-actions {
	display: none;
}
.task_A:hover .task-actions {
	display:inline;
}
.task_C label {
	color: #8B8B8B;
  font-size: 12px;
}