<li>
  <div class="feedline">
    <a href="#" class="img-load"><img src="../assets/linkedin.png" alt="" /></a> 
    <h5><%= "#{activity.user_name} #{activity.action_text} the #{activity.real_target_type}" %></h5>
    <p style="text-align:right;"><%= activity.created_at.strftime("%d/%m/%Y %I:%M%p")%></p>
  </div>
</li>
