<div class="row-fluid">
  <ul class="breadcrumb">
    <li class="active"><a href="#">Yük Bilgileri</a><span class="divider">>></span></li>
    <li><a href="#">Yükleme Bilgileri</a><span class="divider">>></span></li>
    <li><a href="#">Boşaltma Bilgileri</a><span class="divider">>></span></li>
    <li><a href="#">Yük Detay Bilgileri</a></li>
  </ul>
</div>