<div class="row">
<h3>Listing places</h3>
<span class="rightside"><%= link_to 'New Place', new_place_path, :class => "btn primary" %></span>
<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Code</th>
    <th>Country</th>
    <th>City</th>
    <th>District</th>
    <th>Description</th>
    <th/>
    <th/>
  </tr>
  <%= render @places %>

</table>
</div>


