<div class="dropcontent">
  <div class="row">
    <div><h5>Customer Management</h5></div>
    <div class="span6 columns">
      <div class="span3">
        <ul>
          <li><%= link_to "New Customer", new_company_path %></li>
          <li><a href="airload.html">Good List</a></li>
          <li><a href="airproposal.html">Proposal List</a></li>
          <li><%= link_to "New Patron", new_patron_path %></li>
        </ul>   
      </div>
    </div>
  </div>
</div>

