<div class="dropcontent">
  <div class="row">
    <div class="span4 columns">
      <div class="uprofile">
        <img class="photo" src="../assets/user_male.png" alt="" />
        <a href="#">State of the Web 2010</a>
        <p>From TechCrunch John Doe, on April 10, 2010</p>
        <%= link_to "Add User", new_person_path %>
      </div>
    </div>
  </div>
</div>
