<div class="topbar">
  <div class="fill">
    <div class="container fixed">
      <h3><a href="#">SocialFreight</a></h3>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav secondary-nav">
        <% if current_user %>
          <li><%= link_to current_user.email, root_url %></li>
          <li><%= link_to "Log out", logout_path %></li>
        <% else %>
          <li><%= link_to "Sign up", signup_path %> </li>
          <li><%= link_to "log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
