<div id="position">
  <div id="position_criteria">
  </div>
  <div id="position_list">
    <div class="listheader">
    </div>
    <%= render 'positions/positions', :positions => @positions %>
  </div>
</div>

