<table class="table table-condensed">
  <tr><td><%= link_to t("operations.link.create_loading"), new_loading_path(operation: @operation.code) %></td></tr>
  <tr><td><%= link_to t("operations.link.create_position"), new_position_path(operation: @operation.code) %></td></tr>
  <!--tr><td><%#= link_to "Yük & Araç Planlama", positions_path(operation: @operation.code) %></td></tr-->
  <tr><td></td></tr>
</table> 