<table class="table table-condensed">
  <tr><td><%= link_to "Yeni Yük Reservasyon Oluştur", new_loading_path(operation: @operation.code) %></td></tr>
  <tr><td><%= link_to "Yeni Tren Taşıma Projesi Başlat", new_position_path(operation: @operation.code) %></td></tr>
  <!--tr><td><%#= link_to "Yük & Vagon Planlama", positions_path(operation: @operation.code) %></td></tr-->
</table>