<table class="table main_links_table">
  <tr><td><%= link_to "Yeni Dağıtım Yükü", new_loading_path(operation: @operation.code) %></td></tr>
  <tr><td><%= link_to "Yeni Araç Çıkışı", new_position_path(operation: @operation.code) %></td></tr>
  <tr><td><%= link_to "Dağıtım Yükü & Araç Planlama", positions_path(operation: @operation.code) %></td></tr>
</table>