<table class="table table-condensed">
  <tr><td><%= link_to t("operations.link.create_loading"), reservation_path(:load_info, operation: @operation.code) %></td></tr>
  <tr><td><%= link_to t("operations.link.create_position"), new_position_path(operation: @operation.code) %></td></tr>
  <!--tr><td><%#= link_to "Yeni Deniz Taşıma Projesi Başlat", transplan_path(:position_info, operation: @operation.code) %></td></tr-->
  <!--tr><td><%#= link_to "Reservasyon & Gemi Planlama", transplan_path(:select_loads, operation: @operation.code) %></td></tr-->
  <tr><td></td></tr>
</table>