<table class="table main_links_table">
  <!--tr><td><%#= link_to "Yeni Yük Reservasyon Oluştur", new_loading_path(operation: @operation.code) %></td></tr-->
  <tr><td><%= link_to "Yeni Yük Reservasyon Oluştur", reservation_path(:load_info, operation: @operation.code) %></td></tr>
  <tr><td><%= link_to "Yeni Araç Pozisyonu Oluştur", new_position_path(operation: @operation.code) %></td></tr>
  <tr><td><%= link_to "Yük & Araç Planlama", positions_path(operation: @operation.code) %></td></tr>
</table>