<div class="row-fluid">
  <!--div class="alert alert-error">
    Proje ve reservasyon sayaçları tanımlı değil,<%#= link_to setup_path(:set_params, operation: @operation.code) do %> lütfen tanımlayınız<i class="icon-forward"></i><%# end %>
  </div-->
</div>