<div id="profile-header" class="profile-content">
  <table class="outer" width="100%" id="headerTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="span2 noborder">
        <div id="profile-picture" class="loading">
          <%= image_tag("#{@operation.code}.png") %>
        </div>
      </td>
      <td style="vertical-align:top">
        <div id="operation-profile-detail">
          <div id="profile-title" class="row-fluid">
            <div class="title">
              <span><%= t "operations.title.#{@operation.code}operation" %></span>
            </div>
          </div>
          <%= render 'profile_detail' %>
        </div>
      </td>
    </tr>
  </table>
</div>