<div id="profile-header" class="profile-content">
  <table class="outer" width="100%" id="headerTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="span2 noborder">
        <div id="profile-picture" class="loading">
          <%= image_tag("air.png") %>
        </div>
      </td>
      <td style="vertical-align:top">
        <div class="row-fluid">
          <div class="row-fluid">
            <div class="page-header">
              <h4><%= t "operations.title.operationmanagement" %></h4>
            </div>
          </div>
          <%= render 'profile_detail' %>
        </div>
      </td>
    </tr>
  </table>
</div>