<div id="createBtn" class="sidebarMenu">
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar inline-dropdown" data-dropdown="dropdown">
      <div class="topbar-inner">
        <ul class="nav inline-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">Yeni Kayıt Oluştur</a>
            <ul class="dropdown-menu">
              <li class="divider" />
              <li><%= link_to "Pozisyon", new_position_path(:operation => operation) %></li>
              <li><%= link_to "Reservasyon", new_loading_path(:operation => operation) %></li>
              <li><%#= link_to "Planlama", planning_search_path(:operation => operation) %></li>
              <li class="divider" />
              <li><%= link_to "Teklif", new_loading_path(:operation => operation) %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/recent_list' %>
