<div id="createBtn" class="sidebarMenu">
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar inline-dropdown" data-dropdown="dropdown">
      <div class="topbar-inner">
        <ul class="nav inline-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">Yeni Kayıt Oluştur</a>
            <ul class="dropdown-menu">
              <li class="divider" />
              <li><%= link_to "Pozisyon", new_position_path(:operation => operation) %></li>
              <li><%= link_to "Reservasyon", new_loading_path(:operation => operation) %></li>
              <li><%#= link_to "Planlama", planning_search_path(:operation => operation) %></li>
              <li class="divider" />
              <li><%= link_to "Teklif", new_loading_path(:operation => operation) %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="recentItems" class="sidebarMenu">
  <div class="sidebarMenuHeader">
    <h4>Son İşlemler...</h4>
  </div>
  <div class="sidebarMenuBody">
    <div id="recentList">

        <div id="item10" class="hoverable accountItem">
          <div id="user56455" class="recentItem">
            <a class="accountItem" title="[Alt+1]" tabindex="0" accesskey="1" href="/001D000000m6hVm">
              <img class="accountIcon" title="Account: GAT Lojistik" alt="Account: GAT Lojistik" src="/assets/s.png">
              <span class="mruText">GAT Lojistik</span>
            </a>
          </div>
        </div>

        <div id="item10" class="hoverable userItem">
          <div id="user56455" class="recentItem">
            <a class="userItem" title="[Alt+1]" tabindex="0" accesskey="1" href="/001D000000m6hVm">
              <img class="userIcon" title="User: Farukca" alt="User: Farukca" src="/assets/s.png">
              <span class="mruText">Faruk Celik</span>
            </a>
          </div>
        </div>

    </div>
  </div>
</div>
