<%= content_for(:sidebar, render(:partial => 'sidebar', :locals => {:operation => @operation.code} )) %>

<div id="operation">
  <div>
    <%= render 'profile_header' %>
  </div>
  <div>
    <%= render 'profile_content' %>
  </div>
</div>
