<%= content_for(:sidebar, render(:partial => 'sidebar', :locals => {:operation => @operation.id} )) %>

<% content_for :selected_navigation do%>
  <% @selected_navigation = @operation.id %>
<% end %>

<div id="operation" class="row">

  <%= render 'content' %>

</div>
